<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Beáti, qui scrutántur testimónia <b>e</b>jus:&nbsp;* in toto corde ex<i>quí</i><i>runt</i> <b>e</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Non enim qui operántur iniqui<b>tá</b>tem,&nbsp;* in viis ejus am<i>bu</i><i>la</i><b>vé</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Tu man<b>dás</b>ti&nbsp;* mandáta tua custo<i>dí</i><i>ri</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Utinam dirigántur viæ <b>me</b>æ,&nbsp;* ad custodiéndas justificati<i>ó</i><i>nes</i> <b>tu</b>as!<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tunc non con<b>fún</b>dar,&nbsp;* cum perspéxero in ómnibus man<i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Confitébor tibi in directióne <b>cor</b>dis:&nbsp;* in eo quod dídici judícia justí<i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Justificatiónes tuas cus<b>tó</b>diam:&nbsp;* non me derelínquas <i>us</i><i>que</i><b>quá</b>que.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In quo córrigit adolescéntior viam <b>su</b>am?&nbsp;* in custodiéndo ser<i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In toto corde meo exqui<b>sí</b>vi te:&nbsp;* ne repéllas me a man<i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>In corde meo abscóndi elóquia <b>tu</b>a:&nbsp;* ut non <i>pec</i><i>cem</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Benedíctus es, <b>Dó</b>mine:&nbsp;* doce me justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In lábiis <b>me</b>is,&nbsp;* pronuntiávi ómnia judícia <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>In via testimoniórum tuórum delec<b>tá</b>tus sum,&nbsp;* sicut in ómni<i>bus</i> <i>di</i><b>ví</b>tiis.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>In mandátis tuis exer<b>cé</b>bor:&nbsp;* et considerábo <i>vi</i><i>as</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>In justificatiónibus tuis medi<b>tá</b>bor:&nbsp;* non oblivíscar ser<i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Retríbue servo tuo, vivífi<b>ca</b> me:&nbsp;* et custódiam ser<i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Revéla óculos <b>me</b>os:&nbsp;* et considerábo mirabília de <i>le</i><i>ge</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Incola ego sum in <b>ter</b>ra:&nbsp;* non abscóndas a me man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Concupívit ánima mea desideráre justificatiónes <b>tu</b>as,&nbsp;* in <i>om</i><i>ni</i> <b>tém</b>pore.<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Increpásti su<b>pér</b>bos:&nbsp;* maledícti qui declínant a man<i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Aufer a me oppróbrium, et con<b>témp</b>tum:&nbsp;* quia testimónia tua <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Etenim sedérunt príncipes, et advérsum me loque<b>bán</b>tur:&nbsp;* servus autem tuus exercebátur in justificatió<i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Nam et testimónia tua meditátio <b>me</b>a est:&nbsp;* et consílium meum justificati<i>ó</i><i>nes</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Adhǽsit paviménto ánima <b>me</b>a:&nbsp;* vivífica me secúndum <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Vias meas enuntiávi et exau<b>dís</b>ti me:&nbsp;* doce me justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Viam justificatiónum tuárum ínstru<b>e</b> me:&nbsp;* et exercébor in mirabí<i>li</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Dormitávit ánima mea præ <b>tǽ</b>dio:&nbsp;* confírma me in <i>ver</i><i>bis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Viam iniquitátis ámove <b>a</b> me:&nbsp;* et de lege tua mise<i>ré</i><i>re</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Viam veritátis e<b>lé</b>gi:&nbsp;* judícia tua non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>31.&nbsp;</span>Adhǽsi testimóniis tuis <b>Dó</b>mine:&nbsp;* noli <i>me</i> <i>con</i><b>fún</b>dere.<br/>
<span style='float:left;width:25pt;text-align:right;'>32.&nbsp;</span>Viam mandatórum tuórum cu<b>cúr</b>ri:&nbsp;* cum dilatás<i>ti</i> <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>33.&nbsp;</span>Legem pone mihi, Dómine, viam justificatiónum tu<b>á</b>rum:&nbsp;* et exquíram <i>e</i><i>am</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>34.&nbsp;</span>Da mihi intelléctum, et scrutábor legem <b>tu</b>am:&nbsp;* et custódiam illam in toto <i>cor</i><i>de</i> <b>me</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>35.&nbsp;</span>Deduc me in sémitam mandatórum tu<b>ó</b>rum:&nbsp;* quia <i>ip</i><i>sam</i> <b>vó</b>lui.<br/>
<span style='float:left;width:25pt;text-align:right;'>36.&nbsp;</span>Inclína cor meum in testimónia <b>tu</b>a:&nbsp;* et non in <i>a</i><i>va</i><b>rí</b>tiam.<br/>
<span style='float:left;width:25pt;text-align:right;'>37.&nbsp;</span>Avérte óculos meos ne vídeant vani<b>tá</b>tem:&nbsp;* in via tua vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>38.&nbsp;</span>Státue servo tuo elóquium <b>tu</b>um,&nbsp;* in ti<i>mó</i><i>re</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>39.&nbsp;</span>Amputa oppróbrium meum quod suspi<b>cá</b>tus sum:&nbsp;* quia judícia tu<i>a</i> <i>ju</i><b>cún</b>da.<br/>
<span style='float:left;width:25pt;text-align:right;'>40.&nbsp;</span>Ecce concupívi mandáta <b>tu</b>a:&nbsp;* in æquitáte tua vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>41.&nbsp;</span>Et véniat super me misericórdia tua, <b>Dó</b>mine:&nbsp;* salutáre tuum secúndum eló<i>qui</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>42.&nbsp;</span>Et respondébo exprobrántibus mihi <b>ver</b>bum:&nbsp;* quia sperávi in sermó<i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>43.&nbsp;</span>Et ne áuferas de ore meo verbum veritátis usque<b>quá</b>que:&nbsp;* quia in judíciis tuis su<i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>44.&nbsp;</span>Et custódiam legem tuam <b>sem</b>per:&nbsp;* in sǽculum et in sǽ<i>cu</i><i>lum</i> <b>sǽ</b>culi.<br/>
<span style='float:left;width:25pt;text-align:right;'>45.&nbsp;</span>Et ambulábam in lati<b>tú</b>dine:&nbsp;* quia mandáta tua <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>46.&nbsp;</span>Et loquébar in testimóniis tuis in conspéctu <b>re</b>gum:&nbsp;* et non <i>con</i><i>fun</i><b>dé</b>bar.<br/>
<span style='float:left;width:25pt;text-align:right;'>47.&nbsp;</span>Et meditábar in mandátis <b>tu</b>is,&nbsp;* <i>quæ</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>48.&nbsp;</span>Et levávi manus meas ad mandáta tua, quæ di<b>lé</b>xi:&nbsp;* et exercébar in justificatió<i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>49.&nbsp;</span>Memor esto verbi tui servo <b>tu</b>o,&nbsp;* in quo mihi <i>spem</i> <i>de</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>50.&nbsp;</span>Hæc me consoláta est in humilitáte <b>me</b>a:&nbsp;* quia elóquium tuum vi<i>vi</i><i>fi</i><b>cá</b>vit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>51.&nbsp;</span>Supérbi iníque agébant usque<b>quá</b>que:&nbsp;* a lege autem tua non <i>de</i><i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>52.&nbsp;</span>Memor fui judiciórum tuórum a sǽculo, <b>Dó</b>mine:&nbsp;* et <i>con</i><i>so</i><b>lá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>53.&nbsp;</span>Deféctio ténu<b>it</b> me,&nbsp;* pro peccatóribus derelinquéntibus <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>54.&nbsp;</span>Cantábiles mihi erant justificatiónes <b>tu</b>æ,&nbsp;* in loco peregrinati<i>ó</i><i>nis</i> <b>me</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>55.&nbsp;</span>Memor fui nocte nóminis tui, <b>Dó</b>mine:&nbsp;* et custodívi <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>56.&nbsp;</span>Hæc facta est <b>mi</b>hi:&nbsp;* quia justificatiónes tuas <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>57.&nbsp;</span>Pórtio mea, <b>Dó</b>mine,&nbsp;* dixi custodíre <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>58.&nbsp;</span>Deprecátus sum fáciem tuam in toto corde <b>me</b>o:&nbsp;* miserére mei secúndum eló<i>qui</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>59.&nbsp;</span>Cogitávi vias <b>me</b>as:&nbsp;* et convérti pedes meos in testimó<i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>60.&nbsp;</span>Parátus sum, et non sum tur<b>bá</b>tus:&nbsp;* ut custódiam man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>61.&nbsp;</span>Funes peccatórum circumpléxi <b>sunt</b> me:&nbsp;* et legem tuam non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>62.&nbsp;</span>Média nocte surgébam ad confiténdum <b>ti</b>bi:&nbsp;* super judícia justificati<i>ó</i><i>nis</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>63.&nbsp;</span>Párticeps ego sum ómnium timénti<b>um</b> te:&nbsp;* et custodiéntium man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>64.&nbsp;</span>Misericórdia tua, Dómine, plena est <b>ter</b>ra:&nbsp;* justificatiónes <i>tu</i><i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>65.&nbsp;</span>Bonitátem fecísti cum servo tuo, <b>Dó</b>mine:&nbsp;* secúndum <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>66.&nbsp;</span>Bonitátem et disciplínam et sciéntiam <b>do</b>ce me:&nbsp;* quia mandátis <i>tu</i><i>is</i> <b>cré</b>didi.<br/>
<span style='float:left;width:25pt;text-align:right;'>67.&nbsp;</span>Priúsquam humiliárer ego de<b>lí</b>qui:&nbsp;* proptérea elóquium tuum <i>cus</i><i>to</i><b>dí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>68.&nbsp;</span>Bonus <b>es</b> tu:&nbsp;* et in bonitáte tua doce me justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>69.&nbsp;</span>Multiplicáta est super me iníquitas super<b>bó</b>rum:&nbsp;* ego autem in toto corde meo scrutábor man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>70.&nbsp;</span>Coagulátum est sicut lac cor e<b>ó</b>rum:&nbsp;* ego vero legem tuam <i>me</i><i>di</i><b>tá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>71.&nbsp;</span>Bonum mihi quia humili<b>ás</b>ti me:&nbsp;* ut discam justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>72.&nbsp;</span>Bonum mihi lex oris <b>tu</b>i:&nbsp;* super míllia auri <i>et</i> <i>ar</i><b>gén</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>73.&nbsp;</span>Manus tuæ fecérunt me, et plasma<b>vé</b>runt me:&nbsp;* da mihi intelléctum, et discam man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>74.&nbsp;</span>Qui timent te vidébunt me et læta<b>bún</b>tur:&nbsp;* quia in verba tua su<i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>75.&nbsp;</span>Cognóvi, Dómine, quia ǽquitas judícia <b>tu</b>a:&nbsp;* et in veritáte tua hu<i>mi</i><i>li</i><b>ás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>76.&nbsp;</span>Fiat misericórdia tua ut conso<b>lé</b>tur me:&nbsp;* secúndum elóquium tuum <i>ser</i><i>vo</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>77.&nbsp;</span>Véniant mihi miseratiónes tuæ, et <b>vi</b>vam:&nbsp;* quia lex tua meditá<i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>78.&nbsp;</span>Confundántur supérbi, quia injúste iniquitátem fecérunt <b>in</b> me:&nbsp;* ego autem exercébor in man<i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>79.&nbsp;</span>Convertántur mihi ti<b>mén</b>tes te:&nbsp;* et qui novérunt testimó<i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>80.&nbsp;</span>Fiat cor meum immaculátum in justificatiónibus <b>tu</b>is,&nbsp;* ut <i>non</i> <i>con</i><b>fún</b>dar.<br/>
<span style='float:left;width:25pt;text-align:right;'>81.&nbsp;</span>Defécit in salutáre tuum ánima <b>me</b>a:&nbsp;* et in verbum tuum su<i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>82.&nbsp;</span>Defecérunt óculi mei in elóquium <b>tu</b>um:&nbsp;* dicéntes: Quando conso<i>lá</i><i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>83.&nbsp;</span>Quia factus sum sicut uter in pru<b>í</b>na:&nbsp;* justificatiónes tuas non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>84.&nbsp;</span>Quot sunt dies servi <b>tu</b>i?&nbsp;* quando fácies de persequéntibus <i>me</i> <i>ju</i><b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>85.&nbsp;</span>Narravérunt mihi iníqui fabulati<b>ó</b>nes:&nbsp;* sed non <i>ut</i> <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>86.&nbsp;</span>Omnia mandáta tua <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, <i>ád</i><i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>87.&nbsp;</span>Paulo minus consummavérunt me in <b>ter</b>ra:&nbsp;* ego autem non derelíqui man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>88.&nbsp;</span>Secúndum misericórdiam tuam vivífi<b>ca</b> me:&nbsp;* et custódiam testimónia <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>89.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérmanet in <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>90.&nbsp;</span>In generatiónem et generatiónem véritas <b>tu</b>a:&nbsp;* fundásti ter<i>ram</i>, <i>et</i> <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>91.&nbsp;</span>Ordinatióne tua persevérat <b>di</b>es:&nbsp;* quóniam ómnia sér<i>vi</i><i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>92.&nbsp;</span>Nisi quod lex tua meditátio <b>me</b>a est:&nbsp;* tunc forte periíssem in humili<i>tá</i><i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>93.&nbsp;</span>In ætérnum non oblivíscar justificatiónes <b>tu</b>as:&nbsp;* quia in ipsis vi<i>vi</i><i>fi</i><b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>94.&nbsp;</span>Tuus sum ego, salvum <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>95.&nbsp;</span>Me exspectavérunt peccatóres ut pérde<b>rent</b> me:&nbsp;* testimónia tua <i>in</i><i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>96.&nbsp;</span>Omnis consummatiónis vidi <b>fi</b>nem:&nbsp;* latum mandátum <i>tu</i><i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>97.&nbsp;</span>Quómodo diléxi legem tuam, <b>Dó</b>mine?&nbsp;* tota die meditá<i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>98.&nbsp;</span>Super inimícos meos prudéntem me fecísti mandáto <b>tu</b>o:&nbsp;* quia in æ<i>tér</i><i>num</i> <b>mi</b>hi est.<br/>
<span style='float:left;width:25pt;text-align:right;'>99.&nbsp;</span>Super omnes docéntes me intel<b>lé</b>xi:&nbsp;* quia testimónia tua meditá<i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>100.&nbsp;</span>Super senes intel<b>lé</b>xi:&nbsp;* quia mandáta tu<i>a</i> <i>quæ</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>101.&nbsp;</span>Ab omni via mala prohíbui pedes <b>me</b>os:&nbsp;* ut custódiam <i>ver</i><i>ba</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>102.&nbsp;</span>A judíciis tuis non decli<b>ná</b>vi:&nbsp;* quia tu legem posu<i>ís</i><i>ti</i> <b>mi</b>hi.<br/>
<span style='float:left;width:25pt;text-align:right;'>103.&nbsp;</span>Quam dúlcia fáucibus meis elóquia <b>tu</b>a,&nbsp;* super mel <i>o</i><i>ri</i> <b>me</b>o!<br/>
<span style='float:left;width:25pt;text-align:right;'>104.&nbsp;</span>A mandátis tuis intel<b>lé</b>xi:&nbsp;* proptérea odívi omnem viam in<i>i</i><i>qui</i><b>tá</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>105.&nbsp;</span>Lucérna pédibus meis verbum <b>tu</b>um,&nbsp;* et lumen sé<i>mi</i><i>tis</i> <b>me</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>106.&nbsp;</span>Jurávi, et <b>stá</b>tui&nbsp;* custodíre judícia justí<i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>107.&nbsp;</span>Humiliátus sum usquequáque, <b>Dó</b>mine:&nbsp;* vivífica me secúndum <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>108.&nbsp;</span>Voluntária oris mei beneplácita fac, <b>Dó</b>mine:&nbsp;* et judícia <i>tu</i><i>a</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>109.&nbsp;</span>Anima mea in mánibus meis <b>sem</b>per:&nbsp;* et legem tuam non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>110.&nbsp;</span>Posuérunt peccatóres láqueum <b>mi</b>hi:&nbsp;* et de mandátis tuis <i>non</i> <i>er</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>111.&nbsp;</span>Hereditáte acquisívi testimónia tua in æ<b>tér</b>num:&nbsp;* quia exsultátio <i>cor</i><i>dis</i> <b>me</b>i sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>112.&nbsp;</span>Inclinávi cor meum ad faciéndas justificatiónes tuas in æ<b>tér</b>num,&nbsp;* propter retri<i>bu</i><i>ti</i><b>ó</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>113.&nbsp;</span>Iníquos ódio <b>há</b>bui:&nbsp;* et legem tu<i>am</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>114.&nbsp;</span>Adjútor et suscéptor meus <b>es</b> tu:&nbsp;* et in verbum tuum su<i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>115.&nbsp;</span>Declináte a me, ma<b>lí</b>gni:&nbsp;* et scrutábor mandáta <i>De</i><i>i</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>116.&nbsp;</span>Súscipe me secúndum elóquium tuum, et <b>vi</b>vam:&nbsp;* et non confúndas me ab exspectati<i>ó</i><i>ne</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>117.&nbsp;</span>Adjuva me, et salvus <b>e</b>ro:&nbsp;* et meditábor in justificatiónibus <i>tu</i><i>is</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>118.&nbsp;</span>Sprevísti omnes discedéntes a judíciis <b>tu</b>is:&nbsp;* quia injústa cogitáti<i>o</i> <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>119.&nbsp;</span>Prævaricántes reputávi omnes peccatóres <b>ter</b>ræ:&nbsp;* ídeo diléxi testimó<i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>120.&nbsp;</span>Confíge timóre tuo carnes <b>me</b>as:&nbsp;* a judíciis enim <i>tu</i><i>is</i> <b>tí</b>mui.<br/>
<span style='float:left;width:25pt;text-align:right;'>121.&nbsp;</span>Feci judícium et jus<b>tí</b>tiam:&nbsp;* non tradas me calumni<i>án</i><i>ti</i><b>bus</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>122.&nbsp;</span>Súscipe servum tuum in <b>bo</b>num:&nbsp;* non calumniéntur <i>me</i> <i>su</i><b>pér</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>123.&nbsp;</span>Oculi mei defecérunt in salutáre <b>tu</b>um:&nbsp;* et in elóquium justí<i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>124.&nbsp;</span>Fac cum servo tuo secúndum misericórdiam <b>tu</b>am:&nbsp;* et justificatiónes <i>tu</i><i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>125.&nbsp;</span>Servus tuus sum <b>e</b>go:&nbsp;* da mihi intelléctum, ut sciam testimó<i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>126.&nbsp;</span>Tempus faciéndi, <b>Dó</b>mine:&nbsp;* dissipavérunt <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>127.&nbsp;</span>Ideo diléxi mandáta <b>tu</b>a,&nbsp;* super aurum <i>et</i> <i>to</i><b>pá</b>zion.<br/>
<span style='float:left;width:25pt;text-align:right;'>128.&nbsp;</span>Proptérea ad ómnia mandáta tua diri<b>gé</b>bar:&nbsp;* omnem viam iníquam ó<i>di</i><i>o</i> <b>há</b>bui.<br/>
<span style='float:left;width:25pt;text-align:right;'>129.&nbsp;</span>Mirabília testimónia <b>tu</b>a:&nbsp;* ídeo scrutáta est ea á<i>ni</i><i>ma</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>130.&nbsp;</span>Declarátio sermónum tuórum il<b>lú</b>minat:&nbsp;* et intelléc<i>tum</i> <i>dat</i> <b>pár</b>vulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>131.&nbsp;</span>Os meum apérui, et attráxi <b>spí</b>ritum:&nbsp;* quia mandáta tua de<i>si</i><i>de</i><b>rá</b>bam.<br/>
<span style='float:left;width:25pt;text-align:right;'>132.&nbsp;</span>Aspice in me, et miserére <b>me</b>i:&nbsp;* secúndum judícium diligéntium <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>133.&nbsp;</span>Gressus meos dírige secúndum elóquium <b>tu</b>um:&nbsp;* et non dominétur mei omnis <i>in</i><i>jus</i><b>tí</b>tia.<br/>
<span style='float:left;width:25pt;text-align:right;'>134.&nbsp;</span>Rédime me a calúmniis <b>hó</b>minum:&nbsp;* ut custódiam man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>135.&nbsp;</span>Fáciem tuam illúmina super servum <b>tu</b>um:&nbsp;* et doce me justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>136.&nbsp;</span>Exitus aquárum deduxérunt óculi <b>me</b>i:&nbsp;* quia non custodiérunt <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>137.&nbsp;</span>Justus es, <b>Dó</b>mine:&nbsp;* et rectum judí<i>ci</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>138.&nbsp;</span>Mandásti justítiam testimónia <b>tu</b>a:&nbsp;* et veritátem <i>tu</i><i>am</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>139.&nbsp;</span>Tabéscere me fecit zelus <b>me</b>us:&nbsp;* quia oblíti sunt verba tua ini<i>mí</i><i>ci</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>140.&nbsp;</span>Ignítum elóquium tuum vehe<b>mén</b>ter:&nbsp;* et servus tuus di<i>lé</i><i>xit</i> <b>il</b>lud.<br/>
<span style='float:left;width:25pt;text-align:right;'>141.&nbsp;</span>Adolescéntulus sum ego et con<b>témp</b>tus:&nbsp;* justificatiónes tuas non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>142.&nbsp;</span>Justítia tua, justítia in æ<b>tér</b>num:&nbsp;* et lex <i>tu</i><i>a</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>143.&nbsp;</span>Tribulátio, et angústia inve<b>né</b>runt me:&nbsp;* mandáta tua meditá<i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>144.&nbsp;</span>Æquitas testimónia tua in æ<b>tér</b>num:&nbsp;* intelléctum da mi<i>hi</i>, <i>et</i> <b>vi</b>vam.<br/>
<span style='float:left;width:25pt;text-align:right;'>145.&nbsp;</span>Clamávi in toto corde meo, exáudi me, <b>Dó</b>mine:&nbsp;* justificatiónes tu<i>as</i> <i>re</i><b>quí</b>ram.<br/>
<span style='float:left;width:25pt;text-align:right;'>146.&nbsp;</span>Clamávi ad te, salvum <b>me</b> fac:&nbsp;* ut custódiam man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>147.&nbsp;</span>Prævéni in maturitáte, et cla<b>má</b>vi:&nbsp;* quia in verba tua su<i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>148.&nbsp;</span>Prævenérunt óculi mei ad te di<b>lú</b>culo:&nbsp;* ut meditárer eló<i>qui</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>149.&nbsp;</span>Vocem meam audi secúndum misericórdiam tuam, <b>Dó</b>mine:&nbsp;* et secúndum judícium tuum vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>150.&nbsp;</span>Appropinquavérunt persequéntes me iniqui<b>tá</b>ti:&nbsp;* a lege autem tua <i>lon</i><i>ge</i> <b>fac</b>ti sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>151.&nbsp;</span>Prope es tu, <b>Dó</b>mine:&nbsp;* et omnes viæ <i>tu</i><i>æ</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>152.&nbsp;</span>Inítio cognóvi de testimóniis <b>tu</b>is:&nbsp;* quia in ætérnum fun<i>dás</i><i>ti</i> <b>e</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>153.&nbsp;</span>Vide humilitátem meam, et éri<b>pe</b> me:&nbsp;* quia legem tuam non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>154.&nbsp;</span>Júdica judícium meum, et rédi<b>me</b> me:&nbsp;* propter elóquium tuum vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>155.&nbsp;</span>Longe a peccatóribus <b>sa</b>lus:&nbsp;* quia justificatiónes tuas non ex<i>qui</i><i>si</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>156.&nbsp;</span>Misericórdiæ tuæ multæ, <b>Dó</b>mine:&nbsp;* secúndum judícium tuum vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>157.&nbsp;</span>Multi qui persequúntur me, et tríbu<b>lant</b> me:&nbsp;* a testimóniis tuis non <i>de</i><i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>158.&nbsp;</span>Vidi prævaricántes, et tabe<b>scé</b>bam:&nbsp;* quia elóquia tua non cus<i>to</i><i>di</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>159.&nbsp;</span>Vide quóniam mandáta tua diléxi, <b>Dó</b>mine:&nbsp;* in misericórdia tua vi<i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>160.&nbsp;</span>Princípium verbórum tuórum, <b>vé</b>ritas:&nbsp;* in ætérnum ómnia judícia justí<i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>161.&nbsp;</span>Príncipes persecúti sunt me <b>gra</b>tis:&nbsp;* et a verbis tuis formidá<i>vit</i> <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>162.&nbsp;</span>Lætábor ego super elóquia <b>tu</b>a:&nbsp;* sicut qui invénit spó<i>li</i><i>a</i> <b>mul</b>ta.<br/>
<span style='float:left;width:25pt;text-align:right;'>163.&nbsp;</span>Iniquitátem ódio hábui, et abomi<b>ná</b>tus sum:&nbsp;* legem autem tu<i>am</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>164.&nbsp;</span>Sépties in die laudem dixi <b>ti</b>bi,&nbsp;* super judícia justí<i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>165.&nbsp;</span>Pax multa diligéntibus legem <b>tu</b>am:&nbsp;* et non est <i>il</i><i>lis</i> <b>scán</b>dalum.<br/>
<span style='float:left;width:25pt;text-align:right;'>166.&nbsp;</span>Exspectábam salutáre tuum, <b>Dó</b>mine:&nbsp;* et mandáta tu<i>a</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>167.&nbsp;</span>Custodívit ánima mea testimónia <b>tu</b>a:&nbsp;* et diléxit ea <i>ve</i><i>he</i><b>mén</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>168.&nbsp;</span>Servávi mandáta tua, et testimónia <b>tu</b>a:&nbsp;* quia omnes viæ meæ in con<i>spéc</i><i>tu</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>169.&nbsp;</span>Appropínquet deprecátio mea in conspéctu tuo, <b>Dó</b>mine:&nbsp;* juxta elóquium tuum da mihi <i>in</i><i>tel</i><b>léc</b>tum.<br/>
<span style='float:left;width:25pt;text-align:right;'>170.&nbsp;</span>Intret postulátio mea in conspéctu <b>tu</b>o:&nbsp;* secúndum elóquium tuum <i>é</i><i>ri</i><b>pe</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>171.&nbsp;</span>Eructábunt lábia mea <b>hym</b>num,&nbsp;* cum docúeris me justificati<i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>172.&nbsp;</span>Pronuntiábit lingua mea elóquium <b>tu</b>um:&nbsp;* quia ómnia mandáta <i>tu</i><i>a</i> <b>ǽ</b>quitas.<br/>
<span style='float:left;width:25pt;text-align:right;'>173.&nbsp;</span>Fiat manus tua ut <b>sal</b>vet me:&nbsp;* quóniam mandáta tu<i>a</i> <i>e</i><b>lé</b>gi.<br/>
<span style='float:left;width:25pt;text-align:right;'>174.&nbsp;</span>Concupívi salutáre tuum, <b>Dó</b>mine:&nbsp;* et lex tua meditá<i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>175.&nbsp;</span>Vivet ánima mea, et lau<b>dá</b>bit te:&nbsp;* et judícia tua <i>ad</i><i>ju</i><b>vá</b>bunt me.<br/>
<span style='float:left;width:25pt;text-align:right;'>176.&nbsp;</span>Errávi, sicut ovis, quæ <b>pér</b>iit:&nbsp;* quære servum tuum, quia mandáta tua non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>177.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spirí<i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>178.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<i>ló</i><i>rum</i>. <b>A</b>men.<br/>
