<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Beáti, qui scrutántur testimónia <b>e</b>jus:&nbsp;* in toto corde ex<b>quí</b>runt <b>e</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Non enim qui operántur iniqui<b>tá</b>tem,&nbsp;* in viis ejus am<b>bu</b>la<b>vé</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Tu man<b>dás</b>ti&nbsp;* mandáta tua custo<b>dí</b>ri <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Utinam dirigántur viæ <b>me</b>æ,&nbsp;* ad custodiéndas justificati<b>ó</b>nes <b>tu</b>as!<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tunc non con<b>fún</b>dar,&nbsp;* cum perspéxero in ómnibus man<b>dá</b>tis <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Confitébor tibi in directióne <b>cor</b>dis:&nbsp;* in eo quod dídici judícia jus<b>tí</b>tiæ <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Justificatiónes tuas cus<b>tó</b>diam:&nbsp;* non me derelínquas <b>us</b>que<b>quá</b>que.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In quo córrigit adolescéntior viam <b>su</b>am?&nbsp;* in custodiéndo ser<b>mó</b>nes <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In toto corde meo exqui<b>sí</b>vi te:&nbsp;* ne repéllas me a man<b>dá</b>tis <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>In corde meo abscóndi elóquia <b>tu</b>a:&nbsp;* ut non <b>pec</b>cem <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Benedíctus es, <b>Dó</b>mine:&nbsp;* doce me justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In lábiis <b>me</b>is,&nbsp;* pronuntiávi ómnia judícia <b>o</b>ris <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>In via testimoniórum tuórum delec<b>tá</b>tus sum,&nbsp;* sicut in ómni<b>bus</b> di<b>ví</b>tiis.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>In mandátis tuis exer<b>cé</b>bor:&nbsp;* et considerábo <b>vi</b>as <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>In justificatiónibus tuis medi<b>tá</b>bor:&nbsp;* non oblivíscar ser<b>mó</b>nes <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Retríbue servo tuo, vivífi<b>ca</b> me:&nbsp;* et custódiam ser<b>mó</b>nes <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Revéla óculos <b>me</b>os:&nbsp;* et considerábo mirabília de <b>le</b>ge <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Incola ego sum in <b>ter</b>ra:&nbsp;* non abscóndas a me man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Concupívit ánima mea desideráre justificatiónes <b>tu</b>as,&nbsp;* in <b>om</b>ni <b>tém</b>pore.<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Increpásti su<b>pér</b>bos:&nbsp;* maledícti qui declínant a man<b>dá</b>tis <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Aufer a me oppróbrium, et con<b>témp</b>tum:&nbsp;* quia testimónia tua <b>ex</b>qui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Etenim sedérunt príncipes, et advérsum me loque<b>bán</b>tur:&nbsp;* servus autem tuus exercebátur in justificati<b>ó</b>nibus <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Nam et testimónia tua meditátio <b>me</b>a est:&nbsp;* et consílium meum justificati<b>ó</b>nes <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Adhǽsit paviménto ánima <b>me</b>a:&nbsp;* vivífica me secúndum <b>ver</b>bum <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Vias meas enuntiávi et exau<b>dís</b>ti me:&nbsp;* doce me justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Viam justificatiónum tuárum ínstru<b>e</b> me:&nbsp;* et exercébor in mira<b>bí</b>libus <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Dormitávit ánima mea præ <b>tǽ</b>dio:&nbsp;* confírma me in <b>ver</b>bis <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Viam iniquitátis ámove <b>a</b> me:&nbsp;* et de lege tua mise<b>ré</b>re <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Viam veritátis e<b>lé</b>gi:&nbsp;* judícia tua non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>31.&nbsp;</span>Adhǽsi testimóniis tuis <b>Dó</b>mine:&nbsp;* noli <b>me</b> con<b>fún</b>dere.<br/>
<span style='float:left;width:25pt;text-align:right;'>32.&nbsp;</span>Viam mandatórum tuórum cu<b>cúr</b>ri:&nbsp;* cum dila<b>tás</b>ti cor <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>33.&nbsp;</span>Legem pone mihi, Dómine, viam justificatiónum tu<b>á</b>rum:&nbsp;* et exquíram <b>e</b>am <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>34.&nbsp;</span>Da mihi intelléctum, et scrutábor legem <b>tu</b>am:&nbsp;* et custódiam illam in toto <b>cor</b>de <b>me</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>35.&nbsp;</span>Deduc me in sémitam mandatórum tu<b>ó</b>rum:&nbsp;* quia <b>ip</b>sam <b>vó</b>lui.<br/>
<span style='float:left;width:25pt;text-align:right;'>36.&nbsp;</span>Inclína cor meum in testimónia <b>tu</b>a:&nbsp;* et non in <b>a</b>va<b>rí</b>tiam.<br/>
<span style='float:left;width:25pt;text-align:right;'>37.&nbsp;</span>Avérte óculos meos ne vídeant vani<b>tá</b>tem:&nbsp;* in via tua vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>38.&nbsp;</span>Státue servo tuo elóquium <b>tu</b>um,&nbsp;* in ti<b>mó</b>re <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>39.&nbsp;</span>Amputa oppróbrium meum quod suspi<b>cá</b>tus sum:&nbsp;* quia judícia <b>tu</b>a ju<b>cún</b>da.<br/>
<span style='float:left;width:25pt;text-align:right;'>40.&nbsp;</span>Ecce concupívi mandáta <b>tu</b>a:&nbsp;* in æquitáte tua vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>41.&nbsp;</span>Et véniat super me misericórdia tua, <b>Dó</b>mine:&nbsp;* salutáre tuum secúndum e<b>ló</b>quium <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>42.&nbsp;</span>Et respondébo exprobrántibus mihi <b>ver</b>bum:&nbsp;* quia sperávi in ser<b>mó</b>nibus <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>43.&nbsp;</span>Et ne áuferas de ore meo verbum veritátis usque<b>quá</b>que:&nbsp;* quia in judíciis tuis su<b>per</b>spe<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>44.&nbsp;</span>Et custódiam legem tuam <b>sem</b>per:&nbsp;* in sǽculum et in <b>sǽ</b>culum <b>sǽ</b>culi.<br/>
<span style='float:left;width:25pt;text-align:right;'>45.&nbsp;</span>Et ambulábam in lati<b>tú</b>dine:&nbsp;* quia mandáta tua <b>ex</b>qui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>46.&nbsp;</span>Et loquébar in testimóniis tuis in conspéctu <b>re</b>gum:&nbsp;* et non <b>con</b>fun<b>dé</b>bar.<br/>
<span style='float:left;width:25pt;text-align:right;'>47.&nbsp;</span>Et meditábar in mandátis <b>tu</b>is,&nbsp;* <b>quæ</b> di<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>48.&nbsp;</span>Et levávi manus meas ad mandáta tua, quæ di<b>lé</b>xi:&nbsp;* et exercébar in justificati<b>ó</b>nibus <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>49.&nbsp;</span>Memor esto verbi tui servo <b>tu</b>o,&nbsp;* in quo mihi <b>spem</b> de<b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>50.&nbsp;</span>Hæc me consoláta est in humilitáte <b>me</b>a:&nbsp;* quia elóquium tuum vi<b>vi</b>fi<b>cá</b>vit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>51.&nbsp;</span>Supérbi iníque agébant usque<b>quá</b>que:&nbsp;* a lege autem tua non <b>de</b>cli<b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>52.&nbsp;</span>Memor fui judiciórum tuórum a sǽculo, <b>Dó</b>mine:&nbsp;* et <b>con</b>so<b>lá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>53.&nbsp;</span>Deféctio ténu<b>it</b> me,&nbsp;* pro peccatóribus derelinquéntibus <b>le</b>gem <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>54.&nbsp;</span>Cantábiles mihi erant justificatiónes <b>tu</b>æ,&nbsp;* in loco peregrinati<b>ó</b>nis <b>me</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>55.&nbsp;</span>Memor fui nocte nóminis tui, <b>Dó</b>mine:&nbsp;* et custodívi <b>le</b>gem <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>56.&nbsp;</span>Hæc facta est <b>mi</b>hi:&nbsp;* quia justificatiónes tuas <b>ex</b>qui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>57.&nbsp;</span>Pórtio mea, <b>Dó</b>mine,&nbsp;* dixi custodíre <b>le</b>gem <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>58.&nbsp;</span>Deprecátus sum fáciem tuam in toto corde <b>me</b>o:&nbsp;* miserére mei secúndum e<b>ló</b>quium <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>59.&nbsp;</span>Cogitávi vias <b>me</b>as:&nbsp;* et convérti pedes meos in testi<b>mó</b>nia <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>60.&nbsp;</span>Parátus sum, et non sum tur<b>bá</b>tus:&nbsp;* ut custódiam man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>61.&nbsp;</span>Funes peccatórum circumpléxi <b>sunt</b> me:&nbsp;* et legem tuam non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>62.&nbsp;</span>Média nocte surgébam ad confiténdum <b>ti</b>bi:&nbsp;* super judícia justificati<b>ó</b>nis <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>63.&nbsp;</span>Párticeps ego sum ómnium timénti<b>um</b> te:&nbsp;* et custodiéntium man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>64.&nbsp;</span>Misericórdia tua, Dómine, plena est <b>ter</b>ra:&nbsp;* justificatiónes <b>tu</b>as <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>65.&nbsp;</span>Bonitátem fecísti cum servo tuo, <b>Dó</b>mine:&nbsp;* secúndum <b>ver</b>bum <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>66.&nbsp;</span>Bonitátem et disciplínam et sciéntiam <b>do</b>ce me:&nbsp;* quia mandátis <b>tu</b>is <b>cré</b>didi.<br/>
<span style='float:left;width:25pt;text-align:right;'>67.&nbsp;</span>Priúsquam humiliárer ego de<b>lí</b>qui:&nbsp;* proptérea elóquium tuum <b>cus</b>to<b>dí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>68.&nbsp;</span>Bonus <b>es</b> tu:&nbsp;* et in bonitáte tua doce me justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>69.&nbsp;</span>Multiplicáta est super me iníquitas super<b>bó</b>rum:&nbsp;* ego autem in toto corde meo scrutábor man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>70.&nbsp;</span>Coagulátum est sicut lac cor e<b>ó</b>rum:&nbsp;* ego vero legem tuam <b>me</b>di<b>tá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>71.&nbsp;</span>Bonum mihi quia humili<b>ás</b>ti me:&nbsp;* ut discam justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>72.&nbsp;</span>Bonum mihi lex oris <b>tu</b>i:&nbsp;* super míllia auri <b>et</b> ar<b>gén</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>73.&nbsp;</span>Manus tuæ fecérunt me, et plasma<b>vé</b>runt me:&nbsp;* da mihi intelléctum, et discam man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>74.&nbsp;</span>Qui timent te vidébunt me et læta<b>bún</b>tur:&nbsp;* quia in verba tua su<b>per</b>spe<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>75.&nbsp;</span>Cognóvi, Dómine, quia ǽquitas judícia <b>tu</b>a:&nbsp;* et in veritáte tua hu<b>mi</b>li<b>ás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>76.&nbsp;</span>Fiat misericórdia tua ut conso<b>lé</b>tur me:&nbsp;* secúndum elóquium tuum <b>ser</b>vo <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>77.&nbsp;</span>Véniant mihi miseratiónes tuæ, et <b>vi</b>vam:&nbsp;* quia lex tua medi<b>tá</b>tio <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>78.&nbsp;</span>Confundántur supérbi, quia injúste iniquitátem fecérunt <b>in</b> me:&nbsp;* ego autem exercébor in man<b>dá</b>tis <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>79.&nbsp;</span>Convertántur mihi ti<b>mén</b>tes te:&nbsp;* et qui novérunt testi<b>mó</b>nia <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>80.&nbsp;</span>Fiat cor meum immaculátum in justificatiónibus <b>tu</b>is,&nbsp;* ut <b>non</b> con<b>fún</b>dar.<br/>
<span style='float:left;width:25pt;text-align:right;'>81.&nbsp;</span>Defécit in salutáre tuum ánima <b>me</b>a:&nbsp;* et in verbum tuum su<b>per</b>spe<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>82.&nbsp;</span>Defecérunt óculi mei in elóquium <b>tu</b>um:&nbsp;* dicéntes: Quando conso<b>lá</b>be<b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>83.&nbsp;</span>Quia factus sum sicut uter in pru<b>í</b>na:&nbsp;* justificatiónes tuas non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>84.&nbsp;</span>Quot sunt dies servi <b>tu</b>i?&nbsp;* quando fácies de persequéntibus <b>me</b> ju<b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>85.&nbsp;</span>Narravérunt mihi iníqui fabulati<b>ó</b>nes:&nbsp;* sed non <b>ut</b> lex <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>86.&nbsp;</span>Omnia mandáta tua <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, <b>ád</b>ju<b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>87.&nbsp;</span>Paulo minus consummavérunt me in <b>ter</b>ra:&nbsp;* ego autem non derelíqui man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>88.&nbsp;</span>Secúndum misericórdiam tuam vivífi<b>ca</b> me:&nbsp;* et custódiam testimónia <b>o</b>ris <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>89.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérmanet in <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>90.&nbsp;</span>In generatiónem et generatiónem véritas <b>tu</b>a:&nbsp;* fundásti <b>ter</b>ram, et <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>91.&nbsp;</span>Ordinatióne tua persevérat <b>di</b>es:&nbsp;* quóniam ómnia <b>sér</b>viunt <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>92.&nbsp;</span>Nisi quod lex tua meditátio <b>me</b>a est:&nbsp;* tunc forte periíssem in humili<b>tá</b>te <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>93.&nbsp;</span>In ætérnum non oblivíscar justificatiónes <b>tu</b>as:&nbsp;* quia in ipsis vi<b>vi</b>fi<b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>94.&nbsp;</span>Tuus sum ego, salvum <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas <b>ex</b>qui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>95.&nbsp;</span>Me exspectavérunt peccatóres ut pérde<b>rent</b> me:&nbsp;* testimónia tua <b>in</b>tel<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>96.&nbsp;</span>Omnis consummatiónis vidi <b>fi</b>nem:&nbsp;* latum mandátum <b>tu</b>um <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>97.&nbsp;</span>Quómodo diléxi legem tuam, <b>Dó</b>mine?&nbsp;* tota die medi<b>tá</b>tio <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>98.&nbsp;</span>Super inimícos meos prudéntem me fecísti mandáto <b>tu</b>o:&nbsp;* quia in æ<b>tér</b>num <b>mi</b>hi est.<br/>
<span style='float:left;width:25pt;text-align:right;'>99.&nbsp;</span>Super omnes docéntes me intel<b>lé</b>xi:&nbsp;* quia testimónia tua medi<b>tá</b>tio <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>100.&nbsp;</span>Super senes intel<b>lé</b>xi:&nbsp;* quia mandáta <b>tu</b>a quæ<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>101.&nbsp;</span>Ab omni via mala prohíbui pedes <b>me</b>os:&nbsp;* ut custódiam <b>ver</b>ba <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>102.&nbsp;</span>A judíciis tuis non decli<b>ná</b>vi:&nbsp;* quia tu legem posu<b>ís</b>ti <b>mi</b>hi.<br/>
<span style='float:left;width:25pt;text-align:right;'>103.&nbsp;</span>Quam dúlcia fáucibus meis elóquia <b>tu</b>a,&nbsp;* super mel <b>o</b>ri <b>me</b>o!<br/>
<span style='float:left;width:25pt;text-align:right;'>104.&nbsp;</span>A mandátis tuis intel<b>lé</b>xi:&nbsp;* proptérea odívi omnem viam in<b>i</b>qui<b>tá</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>105.&nbsp;</span>Lucérna pédibus meis verbum <b>tu</b>um,&nbsp;* et lumen <b>sé</b>mitis <b>me</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>106.&nbsp;</span>Jurávi, et <b>stá</b>tui&nbsp;* custodíre judícia jus<b>tí</b>tiæ <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>107.&nbsp;</span>Humiliátus sum usquequáque, <b>Dó</b>mine:&nbsp;* vivífica me secúndum <b>ver</b>bum <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>108.&nbsp;</span>Voluntária oris mei beneplácita fac, <b>Dó</b>mine:&nbsp;* et judícia <b>tu</b>a <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>109.&nbsp;</span>Anima mea in mánibus meis <b>sem</b>per:&nbsp;* et legem tuam non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>110.&nbsp;</span>Posuérunt peccatóres láqueum <b>mi</b>hi:&nbsp;* et de mandátis tuis <b>non</b> er<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>111.&nbsp;</span>Hereditáte acquisívi testimónia tua in æ<b>tér</b>num:&nbsp;* quia exsultátio <b>cor</b>dis <b>me</b>i sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>112.&nbsp;</span>Inclinávi cor meum ad faciéndas justificatiónes tuas in æ<b>tér</b>num,&nbsp;* propter retri<b>bu</b>ti<b>ó</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>113.&nbsp;</span>Iníquos ódio <b>há</b>bui:&nbsp;* et legem <b>tu</b>am di<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>114.&nbsp;</span>Adjútor et suscéptor meus <b>es</b> tu:&nbsp;* et in verbum tuum su<b>per</b>spe<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>115.&nbsp;</span>Declináte a me, ma<b>lí</b>gni:&nbsp;* et scrutábor mandáta <b>De</b>i <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>116.&nbsp;</span>Súscipe me secúndum elóquium tuum, et <b>vi</b>vam:&nbsp;* et non confúndas me ab exspectati<b>ó</b>ne <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>117.&nbsp;</span>Adjuva me, et salvus <b>e</b>ro:&nbsp;* et meditábor in justificatiónibus <b>tu</b>is <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>118.&nbsp;</span>Sprevísti omnes discedéntes a judíciis <b>tu</b>is:&nbsp;* quia injústa cogitáti<b>o</b> e<b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>119.&nbsp;</span>Prævaricántes reputávi omnes peccatóres <b>ter</b>ræ:&nbsp;* ídeo diléxi testi<b>mó</b>nia <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>120.&nbsp;</span>Confíge timóre tuo carnes <b>me</b>as:&nbsp;* a judíciis enim <b>tu</b>is <b>tí</b>mui.<br/>
<span style='float:left;width:25pt;text-align:right;'>121.&nbsp;</span>Feci judícium et jus<b>tí</b>tiam:&nbsp;* non tradas me calumni<b>án</b>ti<b>bus</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>122.&nbsp;</span>Súscipe servum tuum in <b>bo</b>num:&nbsp;* non calumniéntur <b>me</b> su<b>pér</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>123.&nbsp;</span>Oculi mei defecérunt in salutáre <b>tu</b>um:&nbsp;* et in elóquium jus<b>tí</b>tiæ <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>124.&nbsp;</span>Fac cum servo tuo secúndum misericórdiam <b>tu</b>am:&nbsp;* et justificatiónes <b>tu</b>as <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>125.&nbsp;</span>Servus tuus sum <b>e</b>go:&nbsp;* da mihi intelléctum, ut sciam testi<b>mó</b>nia <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>126.&nbsp;</span>Tempus faciéndi, <b>Dó</b>mine:&nbsp;* dissipavérunt <b>le</b>gem <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>127.&nbsp;</span>Ideo diléxi mandáta <b>tu</b>a,&nbsp;* super aurum <b>et</b> to<b>pá</b>zion.<br/>
<span style='float:left;width:25pt;text-align:right;'>128.&nbsp;</span>Proptérea ad ómnia mandáta tua diri<b>gé</b>bar:&nbsp;* omnem viam iníquam <b>ó</b>dio <b>há</b>bui.<br/>
<span style='float:left;width:25pt;text-align:right;'>129.&nbsp;</span>Mirabília testimónia <b>tu</b>a:&nbsp;* ídeo scrutáta est ea <b>á</b>nima <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>130.&nbsp;</span>Declarátio sermónum tuórum il<b>lú</b>minat:&nbsp;* et intel<b>léc</b>tum dat <b>pár</b>vulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>131.&nbsp;</span>Os meum apérui, et attráxi <b>spí</b>ritum:&nbsp;* quia mandáta tua de<b>si</b>de<b>rá</b>bam.<br/>
<span style='float:left;width:25pt;text-align:right;'>132.&nbsp;</span>Aspice in me, et miserére <b>me</b>i:&nbsp;* secúndum judícium diligéntium <b>no</b>men <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>133.&nbsp;</span>Gressus meos dírige secúndum elóquium <b>tu</b>um:&nbsp;* et non dominétur mei omnis <b>in</b>jus<b>tí</b>tia.<br/>
<span style='float:left;width:25pt;text-align:right;'>134.&nbsp;</span>Rédime me a calúmniis <b>hó</b>minum:&nbsp;* ut custódiam man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>135.&nbsp;</span>Fáciem tuam illúmina super servum <b>tu</b>um:&nbsp;* et doce me justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>136.&nbsp;</span>Exitus aquárum deduxérunt óculi <b>me</b>i:&nbsp;* quia non custodiérunt <b>le</b>gem <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>137.&nbsp;</span>Justus es, <b>Dó</b>mine:&nbsp;* et rectum ju<b>dí</b>cium <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>138.&nbsp;</span>Mandásti justítiam testimónia <b>tu</b>a:&nbsp;* et veritátem <b>tu</b>am <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>139.&nbsp;</span>Tabéscere me fecit zelus <b>me</b>us:&nbsp;* quia oblíti sunt verba tua ini<b>mí</b>ci <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>140.&nbsp;</span>Ignítum elóquium tuum vehe<b>mén</b>ter:&nbsp;* et servus tuus di<b>lé</b>xit <b>il</b>lud.<br/>
<span style='float:left;width:25pt;text-align:right;'>141.&nbsp;</span>Adolescéntulus sum ego et con<b>témp</b>tus:&nbsp;* justificatiónes tuas non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>142.&nbsp;</span>Justítia tua, justítia in æ<b>tér</b>num:&nbsp;* et lex <b>tu</b>a <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>143.&nbsp;</span>Tribulátio, et angústia inve<b>né</b>runt me:&nbsp;* mandáta tua medi<b>tá</b>tio <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>144.&nbsp;</span>Æquitas testimónia tua in æ<b>tér</b>num:&nbsp;* intelléctum da <b>mi</b>hi, et <b>vi</b>vam.<br/>
<span style='float:left;width:25pt;text-align:right;'>145.&nbsp;</span>Clamávi in toto corde meo, exáudi me, <b>Dó</b>mine:&nbsp;* justificatiónes <b>tu</b>as re<b>quí</b>ram.<br/>
<span style='float:left;width:25pt;text-align:right;'>146.&nbsp;</span>Clamávi ad te, salvum <b>me</b> fac:&nbsp;* ut custódiam man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>147.&nbsp;</span>Prævéni in maturitáte, et cla<b>má</b>vi:&nbsp;* quia in verba tua su<b>per</b>spe<b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>148.&nbsp;</span>Prævenérunt óculi mei ad te di<b>lú</b>culo:&nbsp;* ut meditárer e<b>ló</b>quia <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>149.&nbsp;</span>Vocem meam audi secúndum misericórdiam tuam, <b>Dó</b>mine:&nbsp;* et secúndum judícium tuum vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>150.&nbsp;</span>Appropinquavérunt persequéntes me iniqui<b>tá</b>ti:&nbsp;* a lege autem tua <b>lon</b>ge <b>fac</b>ti sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>151.&nbsp;</span>Prope es tu, <b>Dó</b>mine:&nbsp;* et omnes viæ <b>tu</b>æ <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>152.&nbsp;</span>Inítio cognóvi de testimóniis <b>tu</b>is:&nbsp;* quia in ætérnum fun<b>dás</b>ti <b>e</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>153.&nbsp;</span>Vide humilitátem meam, et éri<b>pe</b> me:&nbsp;* quia legem tuam non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>154.&nbsp;</span>Júdica judícium meum, et rédi<b>me</b> me:&nbsp;* propter elóquium tuum vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>155.&nbsp;</span>Longe a peccatóribus <b>sa</b>lus:&nbsp;* quia justificatiónes tuas non ex<b>qui</b>si<b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>156.&nbsp;</span>Misericórdiæ tuæ multæ, <b>Dó</b>mine:&nbsp;* secúndum judícium tuum vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>157.&nbsp;</span>Multi qui persequúntur me, et tríbu<b>lant</b> me:&nbsp;* a testimóniis tuis non <b>de</b>cli<b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>158.&nbsp;</span>Vidi prævaricántes, et tabe<b>scé</b>bam:&nbsp;* quia elóquia tua non cus<b>to</b>di<b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>159.&nbsp;</span>Vide quóniam mandáta tua diléxi, <b>Dó</b>mine:&nbsp;* in misericórdia tua vi<b>ví</b>fi<b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>160.&nbsp;</span>Princípium verbórum tuórum, <b>vé</b>ritas:&nbsp;* in ætérnum ómnia judícia jus<b>tí</b>tiæ <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>161.&nbsp;</span>Príncipes persecúti sunt me <b>gra</b>tis:&nbsp;* et a verbis tuis formi<b>dá</b>vit cor <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>162.&nbsp;</span>Lætábor ego super elóquia <b>tu</b>a:&nbsp;* sicut qui invénit <b>spó</b>lia <b>mul</b>ta.<br/>
<span style='float:left;width:25pt;text-align:right;'>163.&nbsp;</span>Iniquitátem ódio hábui, et abomi<b>ná</b>tus sum:&nbsp;* legem autem <b>tu</b>am di<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>164.&nbsp;</span>Sépties in die laudem dixi <b>ti</b>bi,&nbsp;* super judícia jus<b>tí</b>tiæ <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>165.&nbsp;</span>Pax multa diligéntibus legem <b>tu</b>am:&nbsp;* et non est <b>il</b>lis <b>scán</b>dalum.<br/>
<span style='float:left;width:25pt;text-align:right;'>166.&nbsp;</span>Exspectábam salutáre tuum, <b>Dó</b>mine:&nbsp;* et mandáta <b>tu</b>a di<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>167.&nbsp;</span>Custodívit ánima mea testimónia <b>tu</b>a:&nbsp;* et diléxit ea <b>ve</b>he<b>mén</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>168.&nbsp;</span>Servávi mandáta tua, et testimónia <b>tu</b>a:&nbsp;* quia omnes viæ meæ in con<b>spéc</b>tu <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>169.&nbsp;</span>Appropínquet deprecátio mea in conspéctu tuo, <b>Dó</b>mine:&nbsp;* juxta elóquium tuum da mihi <b>in</b>tel<b>léc</b>tum.<br/>
<span style='float:left;width:25pt;text-align:right;'>170.&nbsp;</span>Intret postulátio mea in conspéctu <b>tu</b>o:&nbsp;* secúndum elóquium tuum <b>é</b>ri<b>pe</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>171.&nbsp;</span>Eructábunt lábia mea <b>hym</b>num,&nbsp;* cum docúeris me justificati<b>ó</b>nes <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>172.&nbsp;</span>Pronuntiábit lingua mea elóquium <b>tu</b>um:&nbsp;* quia ómnia mandáta <b>tu</b>a <b>ǽ</b>quitas.<br/>
<span style='float:left;width:25pt;text-align:right;'>173.&nbsp;</span>Fiat manus tua ut <b>sal</b>vet me:&nbsp;* quóniam mandáta <b>tu</b>a e<b>lé</b>gi.<br/>
<span style='float:left;width:25pt;text-align:right;'>174.&nbsp;</span>Concupívi salutáre tuum, <b>Dó</b>mine:&nbsp;* et lex tua medi<b>tá</b>tio <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>175.&nbsp;</span>Vivet ánima mea, et lau<b>dá</b>bit te:&nbsp;* et judícia tua <b>ad</b>ju<b>vá</b>bunt me.<br/>
<span style='float:left;width:25pt;text-align:right;'>176.&nbsp;</span>Errávi, sicut ovis, quæ <b>pér</b>iit:&nbsp;* quære servum tuum, quia mandáta tua non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>177.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spi<b>rí</b>tui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>178.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<b>ló</b>rum. <b>A</b>men.<br/>
