<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Beáti, qui scrutántur testi<i>mó</i><i>ni</i><i>a</i> <b>e</b>jus:&nbsp;* in toto corde exquí<i>runt</i> <b>e</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Non enim qui operántur <i>in</i><i>i</i><i>qui</i><b>tá</b>tem,&nbsp;* in viis ejus ambu<i>la</i><b>vé</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span><i>Tu</i> <i>man</i><b>dás</b>ti&nbsp;* mandáta tua custodí<i>ri</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Utinam dirigán<i>tur</i> <i>vi</i><i>æ</i> <b>me</b>æ,&nbsp;* ad custodiéndas justificatió<i>nes</i> <b>tu</b>as!<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span><i>Tunc</i> <i>non</i> <i>con</i><b>fún</b>dar,&nbsp;* cum perspéxero in ómnibus mandá<i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Confitébor tibi in direc<i>ti</i><i>ó</i><i>ne</i> <b>cor</b>dis:&nbsp;* in eo quod dídici judícia justíti<i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Justificatiónes <i>tu</i><i>as</i> <i>cus</i><b>tó</b>diam:&nbsp;* non me derelínquas us<i>que</i><b>quá</b>que.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In quo córrigit adolescénti<i>or</i> <i>vi</i><i>am</i> <b>su</b>am?&nbsp;* in custodiéndo sermó<i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In toto corde me<i>o</i> <i>ex</i><i>qui</i><b>sí</b>vi te:&nbsp;* ne repéllas me a mandá<i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>In corde meo abscóndi e<i>ló</i><i>qui</i><i>a</i> <b>tu</b>a:&nbsp;* ut non pec<i>cem</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Bene<i>díc</i><i>tus</i> <i>es</i>, <b>Dó</b>mine:&nbsp;* doce me justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In <i>lá</i><i>bi</i><i>is</i> <b>me</b>is,&nbsp;* pronuntiávi ómnia judícia o<i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>In via testimoniórum tuó<i>rum</i> <i>de</i><i>lec</i><b>tá</b>tus sum,&nbsp;* sicut in ómnibus <i>di</i><b>ví</b>tiis.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>In mandátis tu<i>is</i> <i>ex</i><i>er</i><b>cé</b>bor:&nbsp;* et considerábo vi<i>as</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>In justificatiónibus tu<i>is</i> <i>me</i><i>di</i><b>tá</b>bor:&nbsp;* non oblivíscar sermó<i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Retríbue servo tuo, <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam sermó<i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Revéla <i>ó</i><i>cu</i><i>los</i> <b>me</b>os:&nbsp;* et considerábo mirabília de le<i>ge</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Incola e<i>go</i> <i>sum</i> <i>in</i> <b>ter</b>ra:&nbsp;* non abscóndas a me mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Concupívit ánima mea desideráre justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as,&nbsp;* in om<i>ni</i> <b>tém</b>pore.<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Incre<i>pás</i><i>ti</i> <i>su</i><b>pér</b>bos:&nbsp;* maledícti qui declínant a mandá<i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Aufer a me oppróbri<i>um</i>, <i>et</i> <i>con</i><b>témp</b>tum:&nbsp;* quia testimónia tua ex<i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Etenim sedérunt príncipes, et advérsum <i>me</i> <i>lo</i><i>que</i><b>bán</b>tur:&nbsp;* servus autem tuus exercebátur in justificatióni<i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Nam et testimónia tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* et consílium meum justificatió<i>nes</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Adhǽsit paviménto <i>á</i><i>ni</i><i>ma</i> <b>me</b>a:&nbsp;* vivífica me secúndum ver<i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Vias meas enuntiávi <i>et</i> <i>ex</i><i>au</i><b>dís</b>ti me:&nbsp;* doce me justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Viam justificatiónum tuá<i>rum</i> <i>ín</i><i>stru</i><b>e</b> me:&nbsp;* et exercébor in mirabíli<i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Dormitávit ánima <i>me</i><i>a</i> <i>præ</i> <b>tǽ</b>dio:&nbsp;* confírma me in ver<i>bis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Viam iniquitátis <i>á</i><i>mo</i><i>ve</i> <b>a</b> me:&nbsp;* et de lege tua miseré<i>re</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Viam veri<i>tá</i><i>tis</i> <i>e</i><b>lé</b>gi:&nbsp;* judícia tua non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>31.&nbsp;</span>Adhǽsi testimóni<i>is</i> <i>tu</i><i>is</i> <b>Dó</b>mine:&nbsp;* noli me <i>con</i><b>fún</b>dere.<br/>
<span style='float:left;width:25pt;text-align:right;'>32.&nbsp;</span>Viam mandatórum tu<i>ó</i><i>rum</i> <i>cu</i><b>cúr</b>ri:&nbsp;* cum dilatásti <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>33.&nbsp;</span>Legem pone mihi, Dómine, viam justificati<i>ó</i><i>num</i> <i>tu</i><b>á</b>rum:&nbsp;* et exquíram e<i>am</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>34.&nbsp;</span>Da mihi intelléctum, et scrutá<i>bor</i> <i>le</i><i>gem</i> <b>tu</b>am:&nbsp;* et custódiam illam in toto cor<i>de</i> <b>me</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>35.&nbsp;</span>Deduc me in sémitam manda<i>tó</i><i>rum</i> <i>tu</i><b>ó</b>rum:&nbsp;* quia ip<i>sam</i> <b>vó</b>lui.<br/>
<span style='float:left;width:25pt;text-align:right;'>36.&nbsp;</span>Inclína cor meum in testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et non in a<i>va</i><b>rí</b>tiam.<br/>
<span style='float:left;width:25pt;text-align:right;'>37.&nbsp;</span>Avérte óculos meos ne víde<i>ant</i> <i>va</i><i>ni</i><b>tá</b>tem:&nbsp;* in via tua viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>38.&nbsp;</span>Státue servo tuo e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um,&nbsp;* in timó<i>re</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>39.&nbsp;</span>Amputa oppróbrium meum <i>quod</i> <i>su</i><i>spi</i><b>cá</b>tus sum:&nbsp;* quia judícia tua <i>ju</i><b>cún</b>da.<br/>
<span style='float:left;width:25pt;text-align:right;'>40.&nbsp;</span>Ecce concupívi <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a:&nbsp;* in æquitáte tua viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>41.&nbsp;</span>Et véniat super me misericórdi<i>a</i> <i>tu</i><i>a</i>, <b>Dó</b>mine:&nbsp;* salutáre tuum secúndum elóqui<i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>42.&nbsp;</span>Et respondébo exprobránti<i>bus</i> <i>mi</i><i>hi</i> <b>ver</b>bum:&nbsp;* quia sperávi in sermóni<i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>43.&nbsp;</span>Et ne áuferas de ore meo verbum veritá<i>tis</i> <i>us</i><i>que</i><b>quá</b>que:&nbsp;* quia in judíciis tuis super<i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>44.&nbsp;</span>Et custódiam le<i>gem</i> <i>tu</i><i>am</i> <b>sem</b>per:&nbsp;* in sǽculum et in sǽcu<i>lum</i> <b>sǽ</b>culi.<br/>
<span style='float:left;width:25pt;text-align:right;'>45.&nbsp;</span>Et ambulábam <i>in</i> <i>la</i><i>ti</i><b>tú</b>dine:&nbsp;* quia mandáta tua ex<i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>46.&nbsp;</span>Et loquébar in testimóniis tuis in <i>con</i><i>spéc</i><i>tu</i> <b>re</b>gum:&nbsp;* et non con<i>fun</i><b>dé</b>bar.<br/>
<span style='float:left;width:25pt;text-align:right;'>47.&nbsp;</span>Et meditábar in <i>man</i><i>dá</i><i>tis</i> <b>tu</b>is,&nbsp;* quæ <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>48.&nbsp;</span>Et levávi manus meas ad mandáta tu<i>a</i>, <i>quæ</i> <i>di</i><b>lé</b>xi:&nbsp;* et exercébar in justificatióni<i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>49.&nbsp;</span>Memor esto verbi tu<i>i</i> <i>ser</i><i>vo</i> <b>tu</b>o,&nbsp;* in quo mihi spem <i>de</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>50.&nbsp;</span>Hæc me consoláta est in humi<i>li</i><i>tá</i><i>te</i> <b>me</b>a:&nbsp;* quia elóquium tuum vivi<i>fi</i><b>cá</b>vit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>51.&nbsp;</span>Supérbi iníque agé<i>bant</i> <i>us</i><i>que</i><b>quá</b>que:&nbsp;* a lege autem tua non de<i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>52.&nbsp;</span>Memor fui judiciórum tuórum a <i>sǽ</i><i>cu</i><i>lo</i>, <b>Dó</b>mine:&nbsp;* et con<i>so</i><b>lá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>53.&nbsp;</span>Defécti<i>o</i> <i>té</i><i>nu</i><b>it</b> me,&nbsp;* pro peccatóribus derelinquéntibus le<i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>54.&nbsp;</span>Cantábiles mihi erant justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>æ,&nbsp;* in loco peregrinatió<i>nis</i> <b>me</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>55.&nbsp;</span>Memor fui nocte nómi<i>nis</i> <i>tu</i><i>i</i>, <b>Dó</b>mine:&nbsp;* et custodívi le<i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>56.&nbsp;</span>Hæc <i>fac</i><i>ta</i> <i>est</i> <b>mi</b>hi:&nbsp;* quia justificatiónes tuas ex<i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>57.&nbsp;</span>Pórti<i>o</i> <i>me</i><i>a</i>, <b>Dó</b>mine,&nbsp;* dixi custodíre le<i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>58.&nbsp;</span>Deprecátus sum fáciem tuam in to<i>to</i> <i>cor</i><i>de</i> <b>me</b>o:&nbsp;* miserére mei secúndum elóqui<i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>59.&nbsp;</span>Cogitá<i>vi</i> <i>vi</i><i>as</i> <b>me</b>as:&nbsp;* et convérti pedes meos in testimóni<i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>60.&nbsp;</span>Parátus sum, et <i>non</i> <i>sum</i> <i>tur</i><b>bá</b>tus:&nbsp;* ut custódiam mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>61.&nbsp;</span>Funes peccatórum cir<i>cum</i><i>plé</i><i>xi</i> <b>sunt</b> me:&nbsp;* et legem tuam non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>62.&nbsp;</span>Média nocte surgébam ad con<i>fi</i><i>tén</i><i>dum</i> <b>ti</b>bi:&nbsp;* super judícia justificatió<i>nis</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>63.&nbsp;</span>Párticeps ego sum ómnium <i>ti</i><i>mén</i><i>ti</i><b>um</b> te:&nbsp;* et custodiéntium mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>64.&nbsp;</span>Misericórdia tua, Dómine, <i>ple</i><i>na</i> <i>est</i> <b>ter</b>ra:&nbsp;* justificatiónes tu<i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>65.&nbsp;</span>Bonitátem fecísti cum ser<i>vo</i> <i>tu</i><i>o</i>, <b>Dó</b>mine:&nbsp;* secúndum ver<i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>66.&nbsp;</span>Bonitátem et disciplínam et sci<i>én</i><i>ti</i><i>am</i> <b>do</b>ce me:&nbsp;* quia mandátis tu<i>is</i> <b>cré</b>didi.<br/>
<span style='float:left;width:25pt;text-align:right;'>67.&nbsp;</span>Priúsquam humiliárer <i>e</i><i>go</i> <i>de</i><b>lí</b>qui:&nbsp;* proptérea elóquium tuum cus<i>to</i><b>dí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>68.&nbsp;</span><i>Bo</i><i>nus</i> <b>es</b> tu:&nbsp;* et in bonitáte tua doce me justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>69.&nbsp;</span>Multiplicáta est super me iníqui<i>tas</i> <i>su</i><i>per</i><b>bó</b>rum:&nbsp;* ego autem in toto corde meo scrutábor mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>70.&nbsp;</span>Coagulátum est sicut <i>lac</i> <i>cor</i> <i>e</i><b>ó</b>rum:&nbsp;* ego vero legem tuam me<i>di</i><b>tá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>71.&nbsp;</span>Bonum mihi quia <i>hu</i><i>mi</i><i>li</i><b>ás</b>ti me:&nbsp;* ut discam justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>72.&nbsp;</span>Bonum mihi <i>lex</i> <i>o</i><i>ris</i> <b>tu</b>i:&nbsp;* super míllia auri et <i>ar</i><b>gén</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>73.&nbsp;</span>Manus tuæ fecérunt me, <i>et</i> <i>plas</i><i>ma</i><b>vé</b>runt me:&nbsp;* da mihi intelléctum, et discam mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>74.&nbsp;</span>Qui timent te vidébunt me <i>et</i> <i>læ</i><i>ta</i><b>bún</b>tur:&nbsp;* quia in verba tua super<i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>75.&nbsp;</span>Cognóvi, Dómine, quia ǽquitas ju<i>dí</i><i>ci</i><i>a</i> <b>tu</b>a:&nbsp;* et in veritáte tua humi<i>li</i><b>ás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>76.&nbsp;</span>Fiat misericórdia tua <i>ut</i> <i>con</i><i>so</i><b>lé</b>tur me:&nbsp;* secúndum elóquium tuum ser<i>vo</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>77.&nbsp;</span>Véniant mihi miseratiónes <i>tu</i><i>æ</i>, <i>et</i> <b>vi</b>vam:&nbsp;* quia lex tua meditáti<i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>78.&nbsp;</span>Confundántur supérbi, quia injúste iniquitátem <i>fe</i><i>cé</i><i>runt</i> <b>in</b> me:&nbsp;* ego autem exercébor in mandá<i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>79.&nbsp;</span>Convertántur <i>mi</i><i>hi</i> <i>ti</i><b>mén</b>tes te:&nbsp;* et qui novérunt testimóni<i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>80.&nbsp;</span>Fiat cor meum immaculátum in justificati<i>ó</i><i>ni</i><i>bus</i> <b>tu</b>is,&nbsp;* ut non <i>con</i><b>fún</b>dar.<br/>
<span style='float:left;width:25pt;text-align:right;'>81.&nbsp;</span>Defécit in salutáre tuum <i>á</i><i>ni</i><i>ma</i> <b>me</b>a:&nbsp;* et in verbum tuum super<i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>82.&nbsp;</span>Defecérunt óculi mei in e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* dicéntes: Quando consolá<i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>83.&nbsp;</span>Quia factus sum sicut u<i>ter</i> <i>in</i> <i>pru</i><b>í</b>na:&nbsp;* justificatiónes tuas non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>84.&nbsp;</span>Quot sunt di<i>es</i> <i>ser</i><i>vi</i> <b>tu</b>i?&nbsp;* quando fácies de persequéntibus me <i>ju</i><b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>85.&nbsp;</span>Narravérunt mihi iníqui fa<i>bu</i><i>la</i><i>ti</i><b>ó</b>nes:&nbsp;* sed non ut <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>86.&nbsp;</span>Omnia mandá<i>ta</i> <i>tu</i><i>a</i> <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, ád<i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>87.&nbsp;</span>Paulo minus consummavé<i>runt</i> <i>me</i> <i>in</i> <b>ter</b>ra:&nbsp;* ego autem non derelíqui mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>88.&nbsp;</span>Secúndum misericórdiam tuam <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam testimónia o<i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>89.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pér<i>ma</i><i>net</i> <i>in</i> <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>90.&nbsp;</span>In generatiónem et generatiónem <i>vé</i><i>ri</i><i>tas</i> <b>tu</b>a:&nbsp;* fundásti terram, <i>et</i> <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>91.&nbsp;</span>Ordinatióne tua per<i>se</i><i>vé</i><i>rat</i> <b>di</b>es:&nbsp;* quóniam ómnia sérvi<i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>92.&nbsp;</span>Nisi quod lex tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* tunc forte periíssem in humilitá<i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>93.&nbsp;</span>In ætérnum non oblivíscar justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as:&nbsp;* quia in ipsis vivi<i>fi</i><b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>94.&nbsp;</span>Tuus sum e<i>go</i>, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas ex<i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>95.&nbsp;</span>Me exspectavérunt peccatóres <i>ut</i> <i>pér</i><i>de</i><b>rent</b> me:&nbsp;* testimónia tua in<i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>96.&nbsp;</span>Omnis consummatió<i>nis</i> <i>vi</i><i>di</i> <b>fi</b>nem:&nbsp;* latum mandátum tu<i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>97.&nbsp;</span>Quómodo diléxi le<i>gem</i> <i>tu</i><i>am</i>, <b>Dó</b>mine?&nbsp;* tota die meditáti<i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>98.&nbsp;</span>Super inimícos meos prudéntem me fecísti <i>man</i><i>dá</i><i>to</i> <b>tu</b>o:&nbsp;* quia in ætér<i>num</i> <b>mi</b>hi est.<br/>
<span style='float:left;width:25pt;text-align:right;'>99.&nbsp;</span>Super omnes docéntes <i>me</i> <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* quia testimónia tua meditáti<i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>100.&nbsp;</span>Super se<i>nes</i> <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* quia mandáta tua <i>quæ</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>101.&nbsp;</span>Ab omni via mala prohíbu<i>i</i> <i>pe</i><i>des</i> <b>me</b>os:&nbsp;* ut custódiam ver<i>ba</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>102.&nbsp;</span>A judíciis tuis <i>non</i> <i>de</i><i>cli</i><b>ná</b>vi:&nbsp;* quia tu legem posuís<i>ti</i> <b>mi</b>hi.<br/>
<span style='float:left;width:25pt;text-align:right;'>103.&nbsp;</span>Quam dúlcia fáucibus meis e<i>ló</i><i>qui</i><i>a</i> <b>tu</b>a,&nbsp;* super mel o<i>ri</i> <b>me</b>o!<br/>
<span style='float:left;width:25pt;text-align:right;'>104.&nbsp;</span>A mandátis tu<i>is</i> <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* proptérea odívi omnem viam ini<i>qui</i><b>tá</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>105.&nbsp;</span>Lucérna pédibus me<i>is</i> <i>ver</i><i>bum</i> <b>tu</b>um,&nbsp;* et lumen sémi<i>tis</i> <b>me</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>106.&nbsp;</span>Ju<i>rá</i><i>vi</i>, <i>et</i> <b>stá</b>tui&nbsp;* custodíre judícia justíti<i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>107.&nbsp;</span>Humiliátus sum us<i>que</i><i>quá</i><i>que</i>, <b>Dó</b>mine:&nbsp;* vivífica me secúndum ver<i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>108.&nbsp;</span>Voluntária oris mei beneplá<i>ci</i><i>ta</i> <i>fac</i>, <b>Dó</b>mine:&nbsp;* et judícia tu<i>a</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>109.&nbsp;</span>Anima mea in máni<i>bus</i> <i>me</i><i>is</i> <b>sem</b>per:&nbsp;* et legem tuam non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>110.&nbsp;</span>Posuérunt peccatóres <i>lá</i><i>que</i><i>um</i> <b>mi</b>hi:&nbsp;* et de mandátis tuis non <i>er</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>111.&nbsp;</span>Hereditáte acquisívi testimónia tu<i>a</i> <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* quia exsultátio cor<i>dis</i> <b>me</b>i sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>112.&nbsp;</span>Inclinávi cor meum ad faciéndas justificatiónes tu<i>as</i> <i>in</i> <i>æ</i><b>tér</b>num,&nbsp;* propter retribu<i>ti</i><b>ó</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>113.&nbsp;</span>Iníquos <i>ó</i><i>di</i><i>o</i> <b>há</b>bui:&nbsp;* et legem tuam <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>114.&nbsp;</span>Adjútor et suscép<i>tor</i> <i>me</i><i>us</i> <b>es</b> tu:&nbsp;* et in verbum tuum super<i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>115.&nbsp;</span>Declináte <i>a</i> <i>me</i>, <i>ma</i><b>lí</b>gni:&nbsp;* et scrutábor mandáta De<i>i</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>116.&nbsp;</span>Súscipe me secúndum elóquium <i>tu</i><i>um</i>, <i>et</i> <b>vi</b>vam:&nbsp;* et non confúndas me ab exspectatió<i>ne</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>117.&nbsp;</span>Adjuva me, <i>et</i> <i>sal</i><i>vus</i> <b>e</b>ro:&nbsp;* et meditábor in justificatiónibus tu<i>is</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>118.&nbsp;</span>Sprevísti omnes discedéntes a ju<i>dí</i><i>ci</i><i>is</i> <b>tu</b>is:&nbsp;* quia injústa cogitátio <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>119.&nbsp;</span>Prævaricántes reputávi omnes pec<i>ca</i><i>tó</i><i>res</i> <b>ter</b>ræ:&nbsp;* ídeo diléxi testimóni<i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>120.&nbsp;</span>Confíge timóre tu<i>o</i> <i>car</i><i>nes</i> <b>me</b>as:&nbsp;* a judíciis enim tu<i>is</i> <b>tí</b>mui.<br/>
<span style='float:left;width:25pt;text-align:right;'>121.&nbsp;</span>Feci judíci<i>um</i> <i>et</i> <i>jus</i><b>tí</b>tiam:&nbsp;* non tradas me calumnián<i>ti</i><b>bus</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>122.&nbsp;</span>Súscipe servum <i>tu</i><i>um</i> <i>in</i> <b>bo</b>num:&nbsp;* non calumniéntur me <i>su</i><b>pér</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>123.&nbsp;</span>Oculi mei defecérunt in sa<i>lu</i><i>tá</i><i>re</i> <b>tu</b>um:&nbsp;* et in elóquium justíti<i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>124.&nbsp;</span>Fac cum servo tuo secúndum miseri<i>cór</i><i>di</i><i>am</i> <b>tu</b>am:&nbsp;* et justificatiónes tu<i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>125.&nbsp;</span>Servus <i>tu</i><i>us</i> <i>sum</i> <b>e</b>go:&nbsp;* da mihi intelléctum, ut sciam testimóni<i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>126.&nbsp;</span>Tempus fa<i>ci</i><i>én</i><i>di</i>, <b>Dó</b>mine:&nbsp;* dissipavérunt le<i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>127.&nbsp;</span>Ideo diléxi <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a,&nbsp;* super aurum et <i>to</i><b>pá</b>zion.<br/>
<span style='float:left;width:25pt;text-align:right;'>128.&nbsp;</span>Proptérea ad ómnia mandáta tu<i>a</i> <i>di</i><i>ri</i><b>gé</b>bar:&nbsp;* omnem viam iníquam ódi<i>o</i> <b>há</b>bui.<br/>
<span style='float:left;width:25pt;text-align:right;'>129.&nbsp;</span>Mirabília testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* ídeo scrutáta est ea áni<i>ma</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>130.&nbsp;</span>Declarátio sermónum tu<i>ó</i><i>rum</i> <i>il</i><b>lú</b>minat:&nbsp;* et intelléctum <i>dat</i> <b>pár</b>vulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>131.&nbsp;</span>Os meum apérui, et <i>at</i><i>trá</i><i>xi</i> <b>spí</b>ritum:&nbsp;* quia mandáta tua desi<i>de</i><b>rá</b>bam.<br/>
<span style='float:left;width:25pt;text-align:right;'>132.&nbsp;</span>Aspice in me, et mi<i>se</i><i>ré</i><i>re</i> <b>me</b>i:&nbsp;* secúndum judícium diligéntium no<i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>133.&nbsp;</span>Gressus meos dírige secúndum e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* et non dominétur mei omnis in<i>jus</i><b>tí</b>tia.<br/>
<span style='float:left;width:25pt;text-align:right;'>134.&nbsp;</span>Rédime me a ca<i>lúm</i><i>ni</i><i>is</i> <b>hó</b>minum:&nbsp;* ut custódiam mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>135.&nbsp;</span>Fáciem tuam illúmina su<i>per</i> <i>ser</i><i>vum</i> <b>tu</b>um:&nbsp;* et doce me justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>136.&nbsp;</span>Exitus aquárum deduxérunt <i>ó</i><i>cu</i><i>li</i> <b>me</b>i:&nbsp;* quia non custodiérunt le<i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>137.&nbsp;</span><i>Jus</i><i>tus</i> <i>es</i>, <b>Dó</b>mine:&nbsp;* et rectum judíci<i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>138.&nbsp;</span>Mandásti justítiam testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et veritátem tu<i>am</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>139.&nbsp;</span>Tabéscere me fe<i>cit</i> <i>ze</i><i>lus</i> <b>me</b>us:&nbsp;* quia oblíti sunt verba tua inimí<i>ci</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>140.&nbsp;</span>Ignítum elóquium tu<i>um</i> <i>ve</i><i>he</i><b>mén</b>ter:&nbsp;* et servus tuus dilé<i>xit</i> <b>il</b>lud.<br/>
<span style='float:left;width:25pt;text-align:right;'>141.&nbsp;</span>Adolescéntulus sum e<i>go</i> <i>et</i> <i>con</i><b>témp</b>tus:&nbsp;* justificatiónes tuas non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>142.&nbsp;</span>Justítia tua, justíti<i>a</i> <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* et lex tu<i>a</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>143.&nbsp;</span>Tribulátio, et angústi<i>a</i> <i>in</i><i>ve</i><b>né</b>runt me:&nbsp;* mandáta tua meditáti<i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>144.&nbsp;</span>Æquitas testimónia tu<i>a</i> <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* intelléctum da mihi, <i>et</i> <b>vi</b>vam.<br/>
<span style='float:left;width:25pt;text-align:right;'>145.&nbsp;</span>Clamávi in toto corde meo, ex<i>áu</i><i>di</i> <i>me</i>, <b>Dó</b>mine:&nbsp;* justificatiónes tuas <i>re</i><b>quí</b>ram.<br/>
<span style='float:left;width:25pt;text-align:right;'>146.&nbsp;</span>Clamávi ad <i>te</i>, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* ut custódiam mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>147.&nbsp;</span>Prævéni in maturitá<i>te</i>, <i>et</i> <i>cla</i><b>má</b>vi:&nbsp;* quia in verba tua super<i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>148.&nbsp;</span>Prævenérunt óculi mei <i>ad</i> <i>te</i> <i>di</i><b>lú</b>culo:&nbsp;* ut meditárer elóqui<i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>149.&nbsp;</span>Vocem meam audi secúndum misericórdi<i>am</i> <i>tu</i><i>am</i>, <b>Dó</b>mine:&nbsp;* et secúndum judícium tuum viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>150.&nbsp;</span>Appropinquavérunt persequéntes me <i>in</i><i>i</i><i>qui</i><b>tá</b>ti:&nbsp;* a lege autem tua lon<i>ge</i> <b>fac</b>ti sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>151.&nbsp;</span>Pro<i>pe</i> <i>es</i> <i>tu</i>, <b>Dó</b>mine:&nbsp;* et omnes viæ tu<i>æ</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>152.&nbsp;</span>Inítio cognóvi de testi<i>mó</i><i>ni</i><i>is</i> <b>tu</b>is:&nbsp;* quia in ætérnum fundás<i>ti</i> <b>e</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>153.&nbsp;</span>Vide humilitátem meam, <i>et</i> <i>é</i><i>ri</i><b>pe</b> me:&nbsp;* quia legem tuam non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>154.&nbsp;</span>Júdica judícium meum, <i>et</i> <i>réd</i><i>i</i><b>me</b> me:&nbsp;* propter elóquium tuum viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>155.&nbsp;</span>Longe a pecca<i>tó</i><i>ri</i><i>bus</i> <b>sa</b>lus:&nbsp;* quia justificatiónes tuas non exqui<i>si</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>156.&nbsp;</span>Misericórdiæ tu<i>æ</i> <i>mul</i><i>tæ</i>, <b>Dó</b>mine:&nbsp;* secúndum judícium tuum viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>157.&nbsp;</span>Multi qui persequúntur me, <i>et</i> <i>trí</i><i>bu</i><b>lant</b> me:&nbsp;* a testimóniis tuis non de<i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>158.&nbsp;</span>Vidi prævaricántes, <i>et</i> <i>ta</i><i>be</i><b>scé</b>bam:&nbsp;* quia elóquia tua non custo<i>di</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>159.&nbsp;</span>Vide quóniam mandáta tua <i>di</i><i>lé</i><i>xi</i>, <b>Dó</b>mine:&nbsp;* in misericórdia tua viví<i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>160.&nbsp;</span>Princípium verbórum <i>tu</i><i>ó</i><i>rum</i>, <b>vé</b>ritas:&nbsp;* in ætérnum ómnia judícia justíti<i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>161.&nbsp;</span>Príncipes persecú<i>ti</i> <i>sunt</i> <i>me</i> <b>gra</b>tis:&nbsp;* et a verbis tuis formidávit <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>162.&nbsp;</span>Lætábor ego super e<i>ló</i><i>qui</i><i>a</i> <b>tu</b>a:&nbsp;* sicut qui invénit spóli<i>a</i> <b>mul</b>ta.<br/>
<span style='float:left;width:25pt;text-align:right;'>163.&nbsp;</span>Iniquitátem ódio hábui, et <i>ab</i><i>o</i><i>mi</i><b>ná</b>tus sum:&nbsp;* legem autem tuam <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>164.&nbsp;</span>Sépties in die lau<i>dem</i> <i>di</i><i>xi</i> <b>ti</b>bi,&nbsp;* super judícia justíti<i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>165.&nbsp;</span>Pax multa diligénti<i>bus</i> <i>le</i><i>gem</i> <b>tu</b>am:&nbsp;* et non est il<i>lis</i> <b>scán</b>dalum.<br/>
<span style='float:left;width:25pt;text-align:right;'>166.&nbsp;</span>Exspectábam salutá<i>re</i> <i>tu</i><i>um</i>, <b>Dó</b>mine:&nbsp;* et mandáta tua <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>167.&nbsp;</span>Custodívit ánima mea testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et diléxit ea ve<i>he</i><b>mén</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>168.&nbsp;</span>Servávi mandáta tua, et testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* quia omnes viæ meæ in conspéc<i>tu</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>169.&nbsp;</span>Appropínquet deprecátio mea in conspéc<i>tu</i> <i>tu</i><i>o</i>, <b>Dó</b>mine:&nbsp;* juxta elóquium tuum da mihi in<i>tel</i><b>léc</b>tum.<br/>
<span style='float:left;width:25pt;text-align:right;'>170.&nbsp;</span>Intret postulátio mea in <i>con</i><i>spéc</i><i>tu</i> <b>tu</b>o:&nbsp;* secúndum elóquium tuum é<i>ri</i><b>pe</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>171.&nbsp;</span>Eructábunt lábi<i>a</i> <i>me</i><i>a</i> <b>hym</b>num,&nbsp;* cum docúeris me justificatió<i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>172.&nbsp;</span>Pronuntiábit lingua mea e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* quia ómnia mandáta tu<i>a</i> <b>ǽ</b>quitas.<br/>
<span style='float:left;width:25pt;text-align:right;'>173.&nbsp;</span>Fiat manus <i>tu</i><i>a</i> <i>ut</i> <b>sal</b>vet me:&nbsp;* quóniam mandáta tua <i>e</i><b>lé</b>gi.<br/>
<span style='float:left;width:25pt;text-align:right;'>174.&nbsp;</span>Concupívi salutá<i>re</i> <i>tu</i><i>um</i>, <b>Dó</b>mine:&nbsp;* et lex tua meditáti<i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>175.&nbsp;</span>Vivet ánima me<i>a</i>, <i>et</i> <i>lau</i><b>dá</b>bit te:&nbsp;* et judícia tua ad<i>ju</i><b>vá</b>bunt me.<br/>
<span style='float:left;width:25pt;text-align:right;'>176.&nbsp;</span>Errávi, sicut <i>o</i><i>vis</i>, <i>quæ</i> <b>pér</b>iit:&nbsp;* quære servum tuum, quia mandáta tua non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>177.&nbsp;</span>Glória <i>Pa</i><i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítu<i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>178.&nbsp;</span>Sicut erat in princípio, <i>et</i> <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculó<i>rum</i>. <b>A</b>men.<br/>
