<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Beáti, qui scrutántur testimó<i>ni</i><i>a</i> <b>e</b>jus:&nbsp;* in toto corde <i>ex</i><i>quí</i><i>runt</i> <b>e</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Non enim qui operántur in<i>i</i><i>qui</i><b>tá</b>tem,&nbsp;* in viis ejus <i>am</i><i>bu</i><i>la</i><b>vé</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span><i>Tu</i> <i>man</i><b>dás</b>ti&nbsp;* mandáta tua cus<i>to</i><i>dí</i><i>ri</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Utinam dirigántur <i>vi</i><i>æ</i> <b>me</b>æ,&nbsp;* ad custodiéndas justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as!<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tunc <i>non</i> <i>con</i><b>fún</b>dar,&nbsp;* cum perspéxero in ómnibus <i>man</i><i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Confitébor tibi in directi<i>ó</i><i>ne</i> <b>cor</b>dis:&nbsp;* in eo quod dídici judícia jus<i>tí</i><i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Justificatiónes tu<i>as</i> <i>cus</i><b>tó</b>diam:&nbsp;* non me derelín<i>quas</i> <i>us</i><i>que</i><b>quá</b>que.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In quo córrigit adolescéntior <i>vi</i><i>am</i> <b>su</b>am?&nbsp;* in custodiéndo <i>ser</i><i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In toto corde meo <i>ex</i><i>qui</i><b>sí</b>vi te:&nbsp;* ne repéllas me a <i>man</i><i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>In corde meo abscóndi eló<i>qui</i><i>a</i> <b>tu</b>a:&nbsp;* ut <i>non</i> <i>pec</i><i>cem</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Benedíc<i>tus</i> <i>es</i>, <b>Dó</b>mine:&nbsp;* doce me justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In lá<i>bi</i><i>is</i> <b>me</b>is,&nbsp;* pronuntiávi ómnia judíci<i>a</i> <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>In via testimoniórum tuórum <i>de</i><i>lec</i><b>tá</b>tus sum,&nbsp;* sicut in óm<i>ni</i><i>bus</i> <i>di</i><b>ví</b>tiis.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>In mandátis tuis <i>ex</i><i>er</i><b>cé</b>bor:&nbsp;* et considerá<i>bo</i> <i>vi</i><i>as</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>In justificatiónibus tuis <i>me</i><i>di</i><b>tá</b>bor:&nbsp;* non oblivíscar <i>ser</i><i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Retríbue servo tuo, vi<i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam <i>ser</i><i>mó</i><i>nes</i> <b>tu</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Revéla ó<i>cu</i><i>los</i> <b>me</b>os:&nbsp;* et considerábo mirabília <i>de</i> <i>le</i><i>ge</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Incola ego <i>sum</i> <i>in</i> <b>ter</b>ra:&nbsp;* non abscóndas a me <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Concupívit ánima mea desideráre justificati<i>ó</i><i>nes</i> <b>tu</b>as,&nbsp;* <i>in</i> <i>om</i><i>ni</i> <b>tém</b>pore.<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Increpás<i>ti</i> <i>su</i><b>pér</b>bos:&nbsp;* maledícti qui declínant a <i>man</i><i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Aufer a me oppróbrium, <i>et</i> <i>con</i><b>témp</b>tum:&nbsp;* quia testimónia tu<i>a</i> <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Etenim sedérunt príncipes, et advérsum me <i>lo</i><i>que</i><b>bán</b>tur:&nbsp;* servus autem tuus exercebátur in justificati<i>ó</i><i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Nam et testimónia tua meditá<i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* et consílium meum justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Adhǽsit paviménto á<i>ni</i><i>ma</i> <b>me</b>a:&nbsp;* vivífica me secún<i>dum</i> <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Vias meas enuntiávi et <i>ex</i><i>au</i><b>dís</b>ti me:&nbsp;* doce me justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Viam justificatiónum tuárum <i>ín</i><i>stru</i><b>e</b> me:&nbsp;* et exercébor in mira<i>bí</i><i>li</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Dormitávit ánima me<i>a</i> <i>præ</i> <b>tǽ</b>dio:&nbsp;* confírma me <i>in</i> <i>ver</i><i>bis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Viam iniquitátis á<i>mo</i><i>ve</i> <b>a</b> me:&nbsp;* et de lege tua mi<i>se</i><i>ré</i><i>re</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Viam veritá<i>tis</i> <i>e</i><b>lé</b>gi:&nbsp;* judícia tua <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>31.&nbsp;</span>Adhǽsi testimóniis <i>tu</i><i>is</i> <b>Dó</b>mine:&nbsp;* no<i>li</i> <i>me</i> <i>con</i><b>fún</b>dere.<br/>
<span style='float:left;width:25pt;text-align:right;'>32.&nbsp;</span>Viam mandatórum tuó<i>rum</i> <i>cu</i><b>cúr</b>ri:&nbsp;* cum dila<i>tás</i><i>ti</i> <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>33.&nbsp;</span>Legem pone mihi, Dómine, viam justificatió<i>num</i> <i>tu</i><b>á</b>rum:&nbsp;* et exquí<i>ram</i> <i>e</i><i>am</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>34.&nbsp;</span>Da mihi intelléctum, et scrutábor <i>le</i><i>gem</i> <b>tu</b>am:&nbsp;* et custódiam illam in to<i>to</i> <i>cor</i><i>de</i> <b>me</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>35.&nbsp;</span>Deduc me in sémitam mandató<i>rum</i> <i>tu</i><b>ó</b>rum:&nbsp;* qui<i>a</i> <i>ip</i><i>sam</i> <b>vó</b>lui.<br/>
<span style='float:left;width:25pt;text-align:right;'>36.&nbsp;</span>Inclína cor meum in testimó<i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et non <i>in</i> <i>a</i><i>va</i><b>rí</b>tiam.<br/>
<span style='float:left;width:25pt;text-align:right;'>37.&nbsp;</span>Avérte óculos meos ne vídeant <i>va</i><i>ni</i><b>tá</b>tem:&nbsp;* in via tua <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>38.&nbsp;</span>Státue servo tuo eló<i>qui</i><i>um</i> <b>tu</b>um,&nbsp;* in <i>ti</i><i>mó</i><i>re</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>39.&nbsp;</span>Amputa oppróbrium meum quod <i>su</i><i>spi</i><b>cá</b>tus sum:&nbsp;* quia judícia <i>tu</i><i>a</i> <i>ju</i><b>cún</b>da.<br/>
<span style='float:left;width:25pt;text-align:right;'>40.&nbsp;</span>Ecce concupívi man<i>dá</i><i>ta</i> <b>tu</b>a:&nbsp;* in æquitáte tua <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>41.&nbsp;</span>Et véniat super me misericórdia <i>tu</i><i>a</i>, <b>Dó</b>mine:&nbsp;* salutáre tuum secúndum e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>42.&nbsp;</span>Et respondébo exprobrántibus <i>mi</i><i>hi</i> <b>ver</b>bum:&nbsp;* quia sperávi in ser<i>mó</i><i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>43.&nbsp;</span>Et ne áuferas de ore meo verbum veritátis <i>us</i><i>que</i><b>quá</b>que:&nbsp;* quia in judíciis tuis <i>su</i><i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>44.&nbsp;</span>Et custódiam legem <i>tu</i><i>am</i> <b>sem</b>per:&nbsp;* in sǽculum et in <i>sǽ</i><i>cu</i><i>lum</i> <b>sǽ</b>culi.<br/>
<span style='float:left;width:25pt;text-align:right;'>45.&nbsp;</span>Et ambulábam in <i>la</i><i>ti</i><b>tú</b>dine:&nbsp;* quia mandáta tu<i>a</i> <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>46.&nbsp;</span>Et loquébar in testimóniis tuis in con<i>spéc</i><i>tu</i> <b>re</b>gum:&nbsp;* et <i>non</i> <i>con</i><i>fun</i><b>dé</b>bar.<br/>
<span style='float:left;width:25pt;text-align:right;'>47.&nbsp;</span>Et meditábar in man<i>dá</i><i>tis</i> <b>tu</b>is,&nbsp;* <i>quæ</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>48.&nbsp;</span>Et levávi manus meas ad mandáta tua, <i>quæ</i> <i>di</i><b>lé</b>xi:&nbsp;* et exercébar in justificati<i>ó</i><i>ni</i><i>bus</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>49.&nbsp;</span>Memor esto verbi tui <i>ser</i><i>vo</i> <b>tu</b>o,&nbsp;* in quo mi<i>hi</i> <i>spem</i> <i>de</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>50.&nbsp;</span>Hæc me consoláta est in humili<i>tá</i><i>te</i> <b>me</b>a:&nbsp;* quia elóquium tuum <i>vi</i><i>vi</i><i>fi</i><b>cá</b>vit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>51.&nbsp;</span>Supérbi iníque agébant <i>us</i><i>que</i><b>quá</b>que:&nbsp;* a lege autem tua <i>non</i> <i>de</i><i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>52.&nbsp;</span>Memor fui judiciórum tuórum a sǽ<i>cu</i><i>lo</i>, <b>Dó</b>mine:&nbsp;* <i>et</i> <i>con</i><i>so</i><b>lá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>53.&nbsp;</span>Deféctio <i>té</i><i>nu</i><b>it</b> me,&nbsp;* pro peccatóribus derelinquénti<i>bus</i> <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>54.&nbsp;</span>Cantábiles mihi erant justificati<i>ó</i><i>nes</i> <b>tu</b>æ,&nbsp;* in loco peregrina<i>ti</i><i>ó</i><i>nis</i> <b>me</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>55.&nbsp;</span>Memor fui nocte nóminis <i>tu</i><i>i</i>, <b>Dó</b>mine:&nbsp;* et custodí<i>vi</i> <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>56.&nbsp;</span>Hæc fac<i>ta</i> <i>est</i> <b>mi</b>hi:&nbsp;* quia justificatiónes tu<i>as</i> <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>57.&nbsp;</span>Pórtio <i>me</i><i>a</i>, <b>Dó</b>mine,&nbsp;* dixi custodí<i>re</i> <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>58.&nbsp;</span>Deprecátus sum fáciem tuam in toto <i>cor</i><i>de</i> <b>me</b>o:&nbsp;* miserére mei secúndum e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>59.&nbsp;</span>Cogitávi <i>vi</i><i>as</i> <b>me</b>as:&nbsp;* et convérti pedes meos in testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>60.&nbsp;</span>Parátus sum, et non <i>sum</i> <i>tur</i><b>bá</b>tus:&nbsp;* ut custódiam <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>61.&nbsp;</span>Funes peccatórum circum<i>plé</i><i>xi</i> <b>sunt</b> me:&nbsp;* et legem tuam <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>62.&nbsp;</span>Média nocte surgébam ad confi<i>tén</i><i>dum</i> <b>ti</b>bi:&nbsp;* super judícia justifica<i>ti</i><i>ó</i><i>nis</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>63.&nbsp;</span>Párticeps ego sum ómnium ti<i>mén</i><i>ti</i><b>um</b> te:&nbsp;* et custodiéntium <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>64.&nbsp;</span>Misericórdia tua, Dómine, ple<i>na</i> <i>est</i> <b>ter</b>ra:&nbsp;* justificatió<i>nes</i> <i>tu</i><i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>65.&nbsp;</span>Bonitátem fecísti cum servo <i>tu</i><i>o</i>, <b>Dó</b>mine:&nbsp;* secún<i>dum</i> <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>66.&nbsp;</span>Bonitátem et disciplínam et scién<i>ti</i><i>am</i> <b>do</b>ce me:&nbsp;* quia mandá<i>tis</i> <i>tu</i><i>is</i> <b>cré</b>didi.<br/>
<span style='float:left;width:25pt;text-align:right;'>67.&nbsp;</span>Priúsquam humiliárer e<i>go</i> <i>de</i><b>lí</b>qui:&nbsp;* proptérea elóquium tu<i>um</i> <i>cus</i><i>to</i><b>dí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>68.&nbsp;</span><i>Bo</i><i>nus</i> <b>es</b> tu:&nbsp;* et in bonitáte tua doce me justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>69.&nbsp;</span>Multiplicáta est super me iníquitas <i>su</i><i>per</i><b>bó</b>rum:&nbsp;* ego autem in toto corde meo scrutábor <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>70.&nbsp;</span>Coagulátum est sicut lac <i>cor</i> <i>e</i><b>ó</b>rum:&nbsp;* ego vero legem tu<i>am</i> <i>me</i><i>di</i><b>tá</b>tus sum.<br/>
<span style='float:left;width:25pt;text-align:right;'>71.&nbsp;</span>Bonum mihi quia hu<i>mi</i><i>li</i><b>ás</b>ti me:&nbsp;* ut discam justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>72.&nbsp;</span>Bonum mihi lex <i>o</i><i>ris</i> <b>tu</b>i:&nbsp;* super míllia au<i>ri</i> <i>et</i> <i>ar</i><b>gén</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>73.&nbsp;</span>Manus tuæ fecérunt me, et <i>plas</i><i>ma</i><b>vé</b>runt me:&nbsp;* da mihi intelléctum, et discam <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>74.&nbsp;</span>Qui timent te vidébunt me et <i>læ</i><i>ta</i><b>bún</b>tur:&nbsp;* quia in verba tua <i>su</i><i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>75.&nbsp;</span>Cognóvi, Dómine, quia ǽquitas judí<i>ci</i><i>a</i> <b>tu</b>a:&nbsp;* et in veritáte tua <i>hu</i><i>mi</i><i>li</i><b>ás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>76.&nbsp;</span>Fiat misericórdia tua ut <i>con</i><i>so</i><b>lé</b>tur me:&nbsp;* secúndum elóquium tu<i>um</i> <i>ser</i><i>vo</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>77.&nbsp;</span>Véniant mihi miseratiónes tu<i>æ</i>, <i>et</i> <b>vi</b>vam:&nbsp;* quia lex tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>78.&nbsp;</span>Confundántur supérbi, quia injúste iniquitátem fe<i>cé</i><i>runt</i> <b>in</b> me:&nbsp;* ego autem exercébor in <i>man</i><i>dá</i><i>tis</i> <b>tu</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>79.&nbsp;</span>Convertántur mi<i>hi</i> <i>ti</i><b>mén</b>tes te:&nbsp;* et qui novérunt testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>80.&nbsp;</span>Fiat cor meum immaculátum in justificatió<i>ni</i><i>bus</i> <b>tu</b>is,&nbsp;* <i>ut</i> <i>non</i> <i>con</i><b>fún</b>dar.<br/>
<span style='float:left;width:25pt;text-align:right;'>81.&nbsp;</span>Defécit in salutáre tuum á<i>ni</i><i>ma</i> <b>me</b>a:&nbsp;* et in verbum tuum <i>su</i><i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>82.&nbsp;</span>Defecérunt óculi mei in eló<i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* dicéntes: Quando con<i>so</i><i>lá</i><i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>83.&nbsp;</span>Quia factus sum sicut uter <i>in</i> <i>pru</i><b>í</b>na:&nbsp;* justificatiónes tuas <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>84.&nbsp;</span>Quot sunt dies <i>ser</i><i>vi</i> <b>tu</b>i?&nbsp;* quando fácies de persequénti<i>bus</i> <i>me</i> <i>ju</i><b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>85.&nbsp;</span>Narravérunt mihi iníqui fabu<i>la</i><i>ti</i><b>ó</b>nes:&nbsp;* sed <i>non</i> <i>ut</i> <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>86.&nbsp;</span>Omnia mandáta <i>tu</i><i>a</i> <b>vé</b>ritas:&nbsp;* iníque persecúti sunt <i>me</i>, <i>ád</i><i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>87.&nbsp;</span>Paulo minus consummavérunt <i>me</i> <i>in</i> <b>ter</b>ra:&nbsp;* ego autem non derelíqui <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>88.&nbsp;</span>Secúndum misericórdiam tuam vi<i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam testimóni<i>a</i> <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>89.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérma<i>net</i> <i>in</i> <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>90.&nbsp;</span>In generatiónem et generatiónem vé<i>ri</i><i>tas</i> <b>tu</b>a:&nbsp;* fundásti <i>ter</i><i>ram</i>, <i>et</i> <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>91.&nbsp;</span>Ordinatióne tua perse<i>vé</i><i>rat</i> <b>di</b>es:&nbsp;* quóniam ómnia <i>sér</i><i>vi</i><i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>92.&nbsp;</span>Nisi quod lex tua meditá<i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* tunc forte periíssem in humi<i>li</i><i>tá</i><i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>93.&nbsp;</span>In ætérnum non oblivíscar justificati<i>ó</i><i>nes</i> <b>tu</b>as:&nbsp;* quia in ipsis <i>vi</i><i>vi</i><i>fi</i><b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>94.&nbsp;</span>Tuus sum ego, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* quóniam justificatiónes tu<i>as</i> <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>95.&nbsp;</span>Me exspectavérunt peccatóres ut <i>pér</i><i>de</i><b>rent</b> me:&nbsp;* testimónia tu<i>a</i> <i>in</i><i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>96.&nbsp;</span>Omnis consummatiónis <i>vi</i><i>di</i> <b>fi</b>nem:&nbsp;* latum mandá<i>tum</i> <i>tu</i><i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>97.&nbsp;</span>Quómodo diléxi legem <i>tu</i><i>am</i>, <b>Dó</b>mine?&nbsp;* tota die medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>98.&nbsp;</span>Super inimícos meos prudéntem me fecísti man<i>dá</i><i>to</i> <b>tu</b>o:&nbsp;* quia in <i>æ</i><i>tér</i><i>num</i> <b>mi</b>hi est.<br/>
<span style='float:left;width:25pt;text-align:right;'>99.&nbsp;</span>Super omnes docéntes me <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* quia testimónia tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>100.&nbsp;</span>Super senes <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* quia mandáta <i>tu</i><i>a</i> <i>quæ</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>101.&nbsp;</span>Ab omni via mala prohíbui <i>pe</i><i>des</i> <b>me</b>os:&nbsp;* ut custódi<i>am</i> <i>ver</i><i>ba</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>102.&nbsp;</span>A judíciis tuis non <i>de</i><i>cli</i><b>ná</b>vi:&nbsp;* quia tu legem po<i>su</i><i>ís</i><i>ti</i> <b>mi</b>hi.<br/>
<span style='float:left;width:25pt;text-align:right;'>103.&nbsp;</span>Quam dúlcia fáucibus meis eló<i>qui</i><i>a</i> <b>tu</b>a,&nbsp;* super <i>mel</i> <i>o</i><i>ri</i> <b>me</b>o!<br/>
<span style='float:left;width:25pt;text-align:right;'>104.&nbsp;</span>A mandátis tuis <i>in</i><i>tel</i><b>lé</b>xi:&nbsp;* proptérea odívi omnem viam <i>in</i><i>i</i><i>qui</i><b>tá</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>105.&nbsp;</span>Lucérna pédibus meis <i>ver</i><i>bum</i> <b>tu</b>um,&nbsp;* et lumen <i>sé</i><i>mi</i><i>tis</i> <b>me</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>106.&nbsp;</span>Jurá<i>vi</i>, <i>et</i> <b>stá</b>tui&nbsp;* custodíre judícia jus<i>tí</i><i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>107.&nbsp;</span>Humiliátus sum usque<i>quá</i><i>que</i>, <b>Dó</b>mine:&nbsp;* vivífica me secún<i>dum</i> <i>ver</i><i>bum</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>108.&nbsp;</span>Voluntária oris mei benepláci<i>ta</i> <i>fac</i>, <b>Dó</b>mine:&nbsp;* et judíci<i>a</i> <i>tu</i><i>a</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>109.&nbsp;</span>Anima mea in mánibus <i>me</i><i>is</i> <b>sem</b>per:&nbsp;* et legem tuam <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>110.&nbsp;</span>Posuérunt peccatóres lá<i>que</i><i>um</i> <b>mi</b>hi:&nbsp;* et de mandátis tu<i>is</i> <i>non</i> <i>er</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>111.&nbsp;</span>Hereditáte acquisívi testimónia tua <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* quia exsultáti<i>o</i> <i>cor</i><i>dis</i> <b>me</b>i sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>112.&nbsp;</span>Inclinávi cor meum ad faciéndas justificatiónes tuas <i>in</i> <i>æ</i><b>tér</b>num,&nbsp;* propter re<i>tri</i><i>bu</i><i>ti</i><b>ó</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>113.&nbsp;</span>Iníquos ó<i>di</i><i>o</i> <b>há</b>bui:&nbsp;* et legem <i>tu</i><i>am</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>114.&nbsp;</span>Adjútor et suscéptor <i>me</i><i>us</i> <b>es</b> tu:&nbsp;* et in verbum tuum <i>su</i><i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>115.&nbsp;</span>Declináte a <i>me</i>, <i>ma</i><b>lí</b>gni:&nbsp;* et scrutábor mandá<i>ta</i> <i>De</i><i>i</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>116.&nbsp;</span>Súscipe me secúndum elóquium tu<i>um</i>, <i>et</i> <b>vi</b>vam:&nbsp;* et non confúndas me ab exspecta<i>ti</i><i>ó</i><i>ne</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>117.&nbsp;</span>Adjuva me, et <i>sal</i><i>vus</i> <b>e</b>ro:&nbsp;* et meditábor in justificatióni<i>bus</i> <i>tu</i><i>is</i> <b>sem</b>per.<br/>
<span style='float:left;width:25pt;text-align:right;'>118.&nbsp;</span>Sprevísti omnes discedéntes a judí<i>ci</i><i>is</i> <b>tu</b>is:&nbsp;* quia injústa cogitá<i>ti</i><i>o</i> <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>119.&nbsp;</span>Prævaricántes reputávi omnes pecca<i>tó</i><i>res</i> <b>ter</b>ræ:&nbsp;* ídeo diléxi testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>120.&nbsp;</span>Confíge timóre tuo <i>car</i><i>nes</i> <b>me</b>as:&nbsp;* a judíciis e<i>nim</i> <i>tu</i><i>is</i> <b>tí</b>mui.<br/>
<span style='float:left;width:25pt;text-align:right;'>121.&nbsp;</span>Feci judícium <i>et</i> <i>jus</i><b>tí</b>tiam:&nbsp;* non tradas me calum<i>ni</i><i>án</i><i>ti</i><b>bus</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>122.&nbsp;</span>Súscipe servum tu<i>um</i> <i>in</i> <b>bo</b>num:&nbsp;* non calumnién<i>tur</i> <i>me</i> <i>su</i><b>pér</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>123.&nbsp;</span>Oculi mei defecérunt in salu<i>tá</i><i>re</i> <b>tu</b>um:&nbsp;* et in elóquium jus<i>tí</i><i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>124.&nbsp;</span>Fac cum servo tuo secúndum misericór<i>di</i><i>am</i> <b>tu</b>am:&nbsp;* et justificatió<i>nes</i> <i>tu</i><i>as</i> <b>do</b>ce me.<br/>
<span style='float:left;width:25pt;text-align:right;'>125.&nbsp;</span>Servus tu<i>us</i> <i>sum</i> <b>e</b>go:&nbsp;* da mihi intelléctum, ut sciam testi<i>mó</i><i>ni</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>126.&nbsp;</span>Tempus faci<i>én</i><i>di</i>, <b>Dó</b>mine:&nbsp;* dissipavé<i>runt</i> <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>127.&nbsp;</span>Ideo diléxi man<i>dá</i><i>ta</i> <b>tu</b>a,&nbsp;* super au<i>rum</i> <i>et</i> <i>to</i><b>pá</b>zion.<br/>
<span style='float:left;width:25pt;text-align:right;'>128.&nbsp;</span>Proptérea ad ómnia mandáta tua <i>di</i><i>ri</i><b>gé</b>bar:&nbsp;* omnem viam iníquam <i>ó</i><i>di</i><i>o</i> <b>há</b>bui.<br/>
<span style='float:left;width:25pt;text-align:right;'>129.&nbsp;</span>Mirabília testimó<i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* ídeo scrutáta est ea <i>á</i><i>ni</i><i>ma</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>130.&nbsp;</span>Declarátio sermónum tuó<i>rum</i> <i>il</i><b>lú</b>minat:&nbsp;* et intel<i>léc</i><i>tum</i> <i>dat</i> <b>pár</b>vulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>131.&nbsp;</span>Os meum apérui, et at<i>trá</i><i>xi</i> <b>spí</b>ritum:&nbsp;* quia mandáta tua <i>de</i><i>si</i><i>de</i><b>rá</b>bam.<br/>
<span style='float:left;width:25pt;text-align:right;'>132.&nbsp;</span>Aspice in me, et mise<i>ré</i><i>re</i> <b>me</b>i:&nbsp;* secúndum judícium diligénti<i>um</i> <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>133.&nbsp;</span>Gressus meos dírige secúndum eló<i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* et non dominétur mei om<i>nis</i> <i>in</i><i>jus</i><b>tí</b>tia.<br/>
<span style='float:left;width:25pt;text-align:right;'>134.&nbsp;</span>Rédime me a calúm<i>ni</i><i>is</i> <b>hó</b>minum:&nbsp;* ut custódiam <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>135.&nbsp;</span>Fáciem tuam illúmina super <i>ser</i><i>vum</i> <b>tu</b>um:&nbsp;* et doce me justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>136.&nbsp;</span>Exitus aquárum deduxérunt ó<i>cu</i><i>li</i> <b>me</b>i:&nbsp;* quia non custodié<i>runt</i> <i>le</i><i>gem</i> <b>tu</b>am.<br/>
<span style='float:left;width:25pt;text-align:right;'>137.&nbsp;</span>Jus<i>tus</i> <i>es</i>, <b>Dó</b>mine:&nbsp;* et rectum ju<i>dí</i><i>ci</i><i>um</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>138.&nbsp;</span>Mandásti justítiam testimó<i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et veritá<i>tem</i> <i>tu</i><i>am</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>139.&nbsp;</span>Tabéscere me fecit <i>ze</i><i>lus</i> <b>me</b>us:&nbsp;* quia oblíti sunt verba tua in<i>i</i><i>mí</i><i>ci</i> <b>me</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>140.&nbsp;</span>Ignítum elóquium tuum <i>ve</i><i>he</i><b>mén</b>ter:&nbsp;* et servus tuus <i>di</i><i>lé</i><i>xit</i> <b>il</b>lud.<br/>
<span style='float:left;width:25pt;text-align:right;'>141.&nbsp;</span>Adolescéntulus sum ego <i>et</i> <i>con</i><b>témp</b>tus:&nbsp;* justificatiónes tuas <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>142.&nbsp;</span>Justítia tua, justítia <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* et <i>lex</i> <i>tu</i><i>a</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>143.&nbsp;</span>Tribulátio, et angústia <i>in</i><i>ve</i><b>né</b>runt me:&nbsp;* mandáta tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>144.&nbsp;</span>Æquitas testimónia tua <i>in</i> <i>æ</i><b>tér</b>num:&nbsp;* intelléctum da <i>mi</i><i>hi</i>, <i>et</i> <b>vi</b>vam.<br/>
<span style='float:left;width:25pt;text-align:right;'>145.&nbsp;</span>Clamávi in toto corde meo, exáu<i>di</i> <i>me</i>, <b>Dó</b>mine:&nbsp;* justificatiónes <i>tu</i><i>as</i> <i>re</i><b>quí</b>ram.<br/>
<span style='float:left;width:25pt;text-align:right;'>146.&nbsp;</span>Clamávi ad te, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* ut custódiam <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>147.&nbsp;</span>Prævéni in maturitáte, <i>et</i> <i>cla</i><b>má</b>vi:&nbsp;* quia in verba tua <i>su</i><i>per</i><i>spe</i><b>rá</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>148.&nbsp;</span>Prævenérunt óculi mei ad <i>te</i> <i>di</i><b>lú</b>culo:&nbsp;* ut meditárer e<i>ló</i><i>qui</i><i>a</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>149.&nbsp;</span>Vocem meam audi secúndum misericórdiam <i>tu</i><i>am</i>, <b>Dó</b>mine:&nbsp;* et secúndum judícium tuum <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>150.&nbsp;</span>Appropinquavérunt persequéntes me in<i>i</i><i>qui</i><b>tá</b>ti:&nbsp;* a lege autem tu<i>a</i> <i>lon</i><i>ge</i> <b>fac</b>ti sunt.<br/>
<span style='float:left;width:25pt;text-align:right;'>151.&nbsp;</span>Prope <i>es</i> <i>tu</i>, <b>Dó</b>mine:&nbsp;* et omnes vi<i>æ</i> <i>tu</i><i>æ</i> <b>vé</b>ritas.<br/>
<span style='float:left;width:25pt;text-align:right;'>152.&nbsp;</span>Inítio cognóvi de testimó<i>ni</i><i>is</i> <b>tu</b>is:&nbsp;* quia in ætérnum <i>fun</i><i>dás</i><i>ti</i> <b>e</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>153.&nbsp;</span>Vide humilitátem meam, et <i>é</i><i>ri</i><b>pe</b> me:&nbsp;* quia legem tuam <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>154.&nbsp;</span>Júdica judícium meum, et <i>réd</i><i>i</i><b>me</b> me:&nbsp;* propter elóquium tuum <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>155.&nbsp;</span>Longe a peccató<i>ri</i><i>bus</i> <b>sa</b>lus:&nbsp;* quia justificatiónes tuas non <i>ex</i><i>qui</i><i>si</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>156.&nbsp;</span>Misericórdiæ tuæ <i>mul</i><i>tæ</i>, <b>Dó</b>mine:&nbsp;* secúndum judícium tuum <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>157.&nbsp;</span>Multi qui persequúntur me, et <i>trí</i><i>bu</i><b>lant</b> me:&nbsp;* a testimóniis tuis <i>non</i> <i>de</i><i>cli</i><b>ná</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>158.&nbsp;</span>Vidi prævaricántes, et <i>ta</i><i>be</i><b>scé</b>bam:&nbsp;* quia elóquia tua non <i>cus</i><i>to</i><i>di</i><b>é</b>runt.<br/>
<span style='float:left;width:25pt;text-align:right;'>159.&nbsp;</span>Vide quóniam mandáta tua di<i>lé</i><i>xi</i>, <b>Dó</b>mine:&nbsp;* in misericórdia tua <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>160.&nbsp;</span>Princípium verbórum tu<i>ó</i><i>rum</i>, <b>vé</b>ritas:&nbsp;* in ætérnum ómnia judícia jus<i>tí</i><i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>161.&nbsp;</span>Príncipes persecúti <i>sunt</i> <i>me</i> <b>gra</b>tis:&nbsp;* et a verbis tuis formi<i>dá</i><i>vit</i> <i>cor</i> <b>me</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>162.&nbsp;</span>Lætábor ego super eló<i>qui</i><i>a</i> <b>tu</b>a:&nbsp;* sicut qui invénit <i>spó</i><i>li</i><i>a</i> <b>mul</b>ta.<br/>
<span style='float:left;width:25pt;text-align:right;'>163.&nbsp;</span>Iniquitátem ódio hábui, et ab<i>o</i><i>mi</i><b>ná</b>tus sum:&nbsp;* legem autem <i>tu</i><i>am</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>164.&nbsp;</span>Sépties in die laudem <i>di</i><i>xi</i> <b>ti</b>bi,&nbsp;* super judícia jus<i>tí</i><i>ti</i><i>æ</i> <b>tu</b>æ.<br/>
<span style='float:left;width:25pt;text-align:right;'>165.&nbsp;</span>Pax multa diligéntibus <i>le</i><i>gem</i> <b>tu</b>am:&nbsp;* et non <i>est</i> <i>il</i><i>lis</i> <b>scán</b>dalum.<br/>
<span style='float:left;width:25pt;text-align:right;'>166.&nbsp;</span>Exspectábam salutáre <i>tu</i><i>um</i>, <b>Dó</b>mine:&nbsp;* et mandáta <i>tu</i><i>a</i> <i>di</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>167.&nbsp;</span>Custodívit ánima mea testimó<i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* et diléxit e<i>a</i> <i>ve</i><i>he</i><b>mén</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>168.&nbsp;</span>Servávi mandáta tua, et testimó<i>ni</i><i>a</i> <b>tu</b>a:&nbsp;* quia omnes viæ meæ in <i>con</i><i>spéc</i><i>tu</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>169.&nbsp;</span>Appropínquet deprecátio mea in conspéctu <i>tu</i><i>o</i>, <b>Dó</b>mine:&nbsp;* juxta elóquium tuum da mi<i>hi</i> <i>in</i><i>tel</i><b>léc</b>tum.<br/>
<span style='float:left;width:25pt;text-align:right;'>170.&nbsp;</span>Intret postulátio mea in con<i>spéc</i><i>tu</i> <b>tu</b>o:&nbsp;* secúndum elóquium tu<i>um</i> <i>é</i><i>ri</i><b>pe</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>171.&nbsp;</span>Eructábunt lábia <i>me</i><i>a</i> <b>hym</b>num,&nbsp;* cum docúeris me justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as.<br/>
<span style='float:left;width:25pt;text-align:right;'>172.&nbsp;</span>Pronuntiábit lingua mea eló<i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* quia ómnia mandá<i>ta</i> <i>tu</i><i>a</i> <b>ǽ</b>quitas.<br/>
<span style='float:left;width:25pt;text-align:right;'>173.&nbsp;</span>Fiat manus tu<i>a</i> <i>ut</i> <b>sal</b>vet me:&nbsp;* quóniam mandáta <i>tu</i><i>a</i> <i>e</i><b>lé</b>gi.<br/>
<span style='float:left;width:25pt;text-align:right;'>174.&nbsp;</span>Concupívi salutáre <i>tu</i><i>um</i>, <b>Dó</b>mine:&nbsp;* et lex tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est.<br/>
<span style='float:left;width:25pt;text-align:right;'>175.&nbsp;</span>Vivet ánima mea, <i>et</i> <i>lau</i><b>dá</b>bit te:&nbsp;* et judícia tu<i>a</i> <i>ad</i><i>ju</i><b>vá</b>bunt me.<br/>
<span style='float:left;width:25pt;text-align:right;'>176.&nbsp;</span>Errávi, sicut o<i>vis</i>, <i>quæ</i> <b>pér</b>iit:&nbsp;* quære servum tuum, quia mandáta tua <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>177.&nbsp;</span>Glória Pa<i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spi<i>rí</i><i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>178.&nbsp;</span>Sicut erat in princípio, et <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæ<i>cu</i><i>ló</i><i>rum</i>. <b>A</b>men.<br/>
