<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Defecérunt óculi mei in eló<i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* dicéntes: Quando con<i>so</i><i>lá</i><i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quia factus sum sicut uter <i>in</i> <i>pru</i><b>í</b>na:&nbsp;* justificatiónes tuas <i>non</i> <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Quot sunt dies <i>ser</i><i>vi</i> <b>tu</b>i?&nbsp;* quando fácies de persequénti<i>bus</i> <i>me</i> <i>ju</i><b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Narravérunt mihi iníqui fabu<i>la</i><i>ti</i><b>ó</b>nes:&nbsp;* sed <i>non</i> <i>ut</i> <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Omnia mandáta <i>tu</i><i>a</i> <b>vé</b>ritas:&nbsp;* iníque persecúti sunt <i>me</i>, <i>ád</i><i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Paulo minus consummavérunt <i>me</i> <i>in</i> <b>ter</b>ra:&nbsp;* ego autem non derelíqui <i>man</i><i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Secúndum misericórdiam tuam vi<i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam testimóni<i>a</i> <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérma<i>net</i> <i>in</i> <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In generatiónem et generatiónem vé<i>ri</i><i>tas</i> <b>tu</b>a:&nbsp;* fundásti <i>ter</i><i>ram</i>, <i>et</i> <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Ordinatióne tua perse<i>vé</i><i>rat</i> <b>di</b>es:&nbsp;* quóniam ómnia <i>sér</i><i>vi</i><i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Nisi quod lex tua meditá<i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* tunc forte periíssem in humi<i>li</i><i>tá</i><i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In ætérnum non oblivíscar justificati<i>ó</i><i>nes</i> <b>tu</b>as:&nbsp;* quia in ipsis <i>vi</i><i>vi</i><i>fi</i><b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Tuus sum ego, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* quóniam justificatiónes tu<i>as</i> <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Me exspectavérunt peccatóres ut <i>pér</i><i>de</i><b>rent</b> me:&nbsp;* testimónia tu<i>a</i> <i>in</i><i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Omnis consummatiónis <i>vi</i><i>di</i> <b>fi</b>nem:&nbsp;* latum mandá<i>tum</i> <i>tu</i><i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Glória Pa<i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spi<i>rí</i><i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Sicut erat in princípio, et <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæ<i>cu</i><i>ló</i><i>rum</i>. <b>A</b>men.<br/>
