<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Defecérunt óculi mei in elóquium <b>tu</b>um:&nbsp;* dicéntes: Quando conso<b>lá</b>be<b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quia factus sum sicut uter in pru<b>í</b>na:&nbsp;* justificatiónes tuas non <b>sum</b> ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Quot sunt dies servi <b>tu</b>i?&nbsp;* quando fácies de persequéntibus <b>me</b> ju<b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Narravérunt mihi iníqui fabulati<b>ó</b>nes:&nbsp;* sed non <b>ut</b> lex <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Omnia mandáta tua <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, <b>ád</b>ju<b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Paulo minus consummavérunt me in <b>ter</b>ra:&nbsp;* ego autem non derelíqui man<b>dá</b>ta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Secúndum misericórdiam tuam vivífi<b>ca</b> me:&nbsp;* et custódiam testimónia <b>o</b>ris <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérmanet in <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In generatiónem et generatiónem véritas <b>tu</b>a:&nbsp;* fundásti <b>ter</b>ram, et <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Ordinatióne tua persevérat <b>di</b>es:&nbsp;* quóniam ómnia <b>sér</b>viunt <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Nisi quod lex tua meditátio <b>me</b>a est:&nbsp;* tunc forte periíssem in humili<b>tá</b>te <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In ætérnum non oblivíscar justificatiónes <b>tu</b>as:&nbsp;* quia in ipsis vi<b>vi</b>fi<b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Tuus sum ego, salvum <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas <b>ex</b>qui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Me exspectavérunt peccatóres ut pérde<b>rent</b> me:&nbsp;* testimónia tua <b>in</b>tel<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Omnis consummatiónis vidi <b>fi</b>nem:&nbsp;* latum mandátum <b>tu</b>um <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spi<b>rí</b>tui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<b>ló</b>rum. <b>A</b>men.<br/>
