<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Defecérunt óculi mei in e<i>ló</i><i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* dicéntes: Quando consolá<i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quia factus sum sicut u<i>ter</i> <i>in</i> <i>pru</i><b>í</b>na:&nbsp;* justificatiónes tuas non sum <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Quot sunt di<i>es</i> <i>ser</i><i>vi</i> <b>tu</b>i?&nbsp;* quando fácies de persequéntibus me <i>ju</i><b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Narravérunt mihi iníqui fa<i>bu</i><i>la</i><i>ti</i><b>ó</b>nes:&nbsp;* sed non ut <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Omnia mandá<i>ta</i> <i>tu</i><i>a</i> <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, ád<i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Paulo minus consummavé<i>runt</i> <i>me</i> <i>in</i> <b>ter</b>ra:&nbsp;* ego autem non derelíqui mandá<i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Secúndum misericórdiam tuam <i>vi</i><i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam testimónia o<i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pér<i>ma</i><i>net</i> <i>in</i> <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In generatiónem et generatiónem <i>vé</i><i>ri</i><i>tas</i> <b>tu</b>a:&nbsp;* fundásti terram, <i>et</i> <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Ordinatióne tua per<i>se</i><i>vé</i><i>rat</i> <b>di</b>es:&nbsp;* quóniam ómnia sérvi<i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Nisi quod lex tua medi<i>tá</i><i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* tunc forte periíssem in humilitá<i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In ætérnum non oblivíscar justifica<i>ti</i><i>ó</i><i>nes</i> <b>tu</b>as:&nbsp;* quia in ipsis vivi<i>fi</i><b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Tuus sum e<i>go</i>, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas ex<i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Me exspectavérunt peccatóres <i>ut</i> <i>pér</i><i>de</i><b>rent</b> me:&nbsp;* testimónia tua in<i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Omnis consummatió<i>nis</i> <i>vi</i><i>di</i> <b>fi</b>nem:&nbsp;* latum mandátum tu<i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Glória <i>Pa</i><i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítu<i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Sicut erat in princípio, <i>et</i> <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculó<i>rum</i>. <b>A</b>men.<br/>
