<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Defecérunt óculi mei in eló<i>qui</i><i>um</i> <b>tu</b>um:&nbsp;* dicéntes: Quando consolábe<b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quia factus sum sicut uter <i>in</i> <i>pru</i><b>í</b>na:&nbsp;* justificatiónes tuas non sum ob<b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Quot sunt dies <i>ser</i><i>vi</i> <b>tu</b>i?&nbsp;* quando fácies de persequéntibus me ju<b>dí</b>cium?<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Narravérunt mihi iníqui fabu<i>la</i><i>ti</i><b>ó</b>nes:&nbsp;* sed non ut lex <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Omnia mandáta <i>tu</i><i>a</i> <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, ádju<b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Paulo minus consummavérunt <i>me</i> <i>in</i> <b>ter</b>ra:&nbsp;* ego autem non derelíqui mandáta <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Secúndum misericórdiam tuam vi<i>ví</i><i>fi</i><b>ca</b> me:&nbsp;* et custódiam testimónia oris <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérma<i>net</i> <i>in</i> <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In generatiónem et generatiónem vé<i>ri</i><i>tas</i> <b>tu</b>a:&nbsp;* fundásti terram, et <b>pér</b>manet.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Ordinatióne tua perse<i>vé</i><i>rat</i> <b>di</b>es:&nbsp;* quóniam ómnia sérviunt <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Nisi quod lex tua meditá<i>ti</i><i>o</i> <b>me</b>a est:&nbsp;* tunc forte periíssem in humilitáte <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In ætérnum non oblivíscar justificati<i>ó</i><i>nes</i> <b>tu</b>as:&nbsp;* quia in ipsis vivifi<b>cás</b>ti me.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Tuus sum ego, <i>sal</i><i>vum</i> <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas exqui<b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Me exspectavérunt peccatóres ut <i>pér</i><i>de</i><b>rent</b> me:&nbsp;* testimónia tua intel<b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Omnis consummatiónis <i>vi</i><i>di</i> <b>fi</b>nem:&nbsp;* latum mandátum tuum <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Glória Pa<i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Sicut erat in princípio, et <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculórum. <b>A</b>men.<br/>
