<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Defecérunt óculi mei in e<b>ló</b>quium <b>tu</b>um:&nbsp;* dicéntes: Quando conso<i>lá</i><i>be</i><b>ris</b> me?<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quia factus sum sicut uter <b>in</b> pru<b>í</b>na:&nbsp;* justificatiónes tuas non <i>sum</i> <i>ob</i><b>lí</b>tus.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Quot sunt dies <b>ser</b>vi <b>tu</b>i?&nbsp;* quando fácies de persequéntibus <i>me</i> <i>ju</i><b>dí</b><b>ci</b>um?<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Narravérunt mihi iníqui fabu<b>la</b>ti<b>ó</b>nes:&nbsp;* sed non <i>ut</i> <i>lex</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Omnia mandáta <b>tu</b>a <b>vé</b>ritas:&nbsp;* iníque persecúti sunt me, <i>ád</i><i>ju</i><b>va</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Paulo minus consummavérunt <b>me</b> in <b>ter</b>ra:&nbsp;* ego autem non derelíqui man<i>dá</i><i>ta</i> <b>tu</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Secúndum misericórdiam tuam vi<b>ví</b>fi<b>ca</b> me:&nbsp;* et custódiam testimónia <i>o</i><i>ris</i> <b>tu</b>i.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>In ætérnum, Dómine,* verbum tuum pérma<b>net</b> in <b>cæ</b>lo.
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In generatiónem et generatiónem <b>vé</b>ritas <b>tu</b>a:&nbsp;* fundásti ter<i>ram</i>, <i>et</i> <b>pér</b><b>ma</b>net.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Ordinatióne tua perse<b>vé</b>rat <b>di</b>es:&nbsp;* quóniam ómnia sér<i>vi</i><i>unt</i> <b>ti</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Nisi quod lex tua medi<b>tá</b>tio <b>me</b>a est:&nbsp;* tunc forte periíssem in humili<i>tá</i><i>te</i> <b>me</b>a.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>In ætérnum non oblivíscar justificati<b>ó</b>nes <b>tu</b>as:&nbsp;* quia in ipsis vi<i>vi</i><i>fi</i><b>cás</b><b>ti</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Tuus sum ego, <b>sal</b>vum <b>me</b> fac:&nbsp;* quóniam justificatiónes tuas <i>ex</i><i>qui</i><b>sí</b>vi.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Me exspectavérunt peccatóres ut <b>pér</b>de<b>rent</b> me:&nbsp;* testimónia tua <i>in</i><i>tel</i><b>lé</b>xi.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Omnis consummatiónis <b>vi</b>di <b>fi</b>nem:&nbsp;* latum mandátum <i>tu</i><i>um</i> <b>ni</b>mis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Glória <b>Pa</b>tri, et <b>Fí</b>lio,&nbsp;* et Spirí<i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>Sicut erat in princípio, et <b>nunc</b>, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<i>ló</i><i>rum</i>. <b>A</b>men.<br/>
