<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Opus, quod operátus es in dié<i>bus</i> <i>e</i><b>ó</b>rum,&nbsp;* et in di<i>é</i><i>bus</i> <i>an</i><b>tí</b>quis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Manus tua gentes dispérdidit, et plan<i>tás</i><i>ti</i> <b>e</b>os:&nbsp;* afflixísti pópulos, et ex<i>pu</i><i>lís</i><i>ti</i> <b>e</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Nec enim in gládio suo posse<i>dé</i><i>runt</i> <b>ter</b>ram,&nbsp;* et bráchium eórum non <i>sal</i><i>vá</i><i>vit</i> <b>e</b>os:<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Sed déxtera tua, et bráchium tuum, et illuminátio <i>vul</i><i>tus</i> <b>tu</b>i,&nbsp;* quóniam complacu<i>ís</i><i>ti</i> <i>in</i> <b>e</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tu es ipse Rex meus et <i>De</i><i>us</i> <b>me</b>us:&nbsp;* qui mandas <i>sa</i><i>lú</i><i>tes</i> <b>Ja</b>cob.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>In te inimícos nostros ventilá<i>bi</i><i>mus</i> <b>cor</b>nu:&nbsp;* et in nómine tuo spernémus insur<i>gén</i><i>tes</i> <i>in</i> <b>no</b>bis.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Non enim in arcu me<i>o</i> <i>spe</i><b>rá</b>bo:&nbsp;* et gládius me<i>us</i> <i>non</i> <i>sal</i><b>vá</b><b>bit</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Salvásti enim nos de affli<i>gén</i><i>ti</i><b>bus</b> nos:&nbsp;* et odiéntes <i>nos</i> <i>con</i><i>fu</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In Deo laudábimur <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* et in nómine tuo confité<i>bi</i><i>mur</i> <i>in</i> <b>sǽ</b><b>cu</b>lum.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Nunc autem repulísti et <i>con</i><i>fu</i><b>dís</b>ti nos:&nbsp;* et non egrediéris, Deus, in vir<i>tú</i><i>ti</i><i>bus</i> <b>nos</b>tris.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Avertísti nos retrórsum post ini<i>mí</i><i>cos</i> <b>nos</b>tros:&nbsp;* et qui odérunt nos, diri<i>pi</i><i>é</i><i>bant</i> <b>si</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>Dedísti nos tamquam o<i>ves</i> <i>es</i><b>cá</b>rum:&nbsp;* et in Génti<i>bus</i> <i>di</i><i>sper</i><b>sís</b><b>ti</b> nos.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Vendidísti pópulum tuum <i>si</i><i>ne</i> <b>pré</b>tio:&nbsp;* et non fuit multitúdo in commutatió<i>ni</i><i>bus</i> <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Posuísti nos oppróbrium vi<i>cí</i><i>nis</i> <b>nos</b>tris,&nbsp;* subsannatiónem et derísum his, qui sunt in cir<i>cú</i><i>i</i><i>tu</i> <b>nos</b>tro.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Posuísti nos in similitú<i>di</i><i>nem</i> <b>Gén</b>tibus:&nbsp;* commotiónem cá<i>pi</i><i>tis</i> <i>in</i> <b>pó</b><b>pu</b>lis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Tota die verecúndia mea <i>con</i><i>tra</i> <b>me</b> est,&nbsp;* et confúsio faciéi meæ co<i>o</i><i>pé</i><i>ru</i><b>it</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>A voce exprobrántis, et <i>ob</i><i>lo</i><b>quén</b>tis:&nbsp;* a fácie inimíci, <i>et</i> <i>per</i><i>se</i><b>quén</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Hæc ómnia venérunt super nos, nec ob<i>lí</i><i>ti</i> <b>su</b>mus te:&nbsp;* et iníque non égimus in tes<i>ta</i><i>mén</i><i>to</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Et non recéssit re<i>tro</i> <i>cor</i> <b>nos</b>trum:&nbsp;* et declinásti sémitas nostras <i>a</i> <i>vi</i><i>a</i> <b>tu</b>a:<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Quóniam humiliásti nos in loco af<i>flic</i><i>ti</i><b>ó</b>nis,&nbsp;* et coopéruit <i>nos</i> <i>um</i><i>bra</i> <b>mor</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Si oblíti sumus nomen <i>De</i><i>i</i> <b>nos</b>tri,&nbsp;* et si expándimus manus nostras ad de<i>um</i> <i>a</i><i>li</i><b>é</b>num:<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Nonne Deus re<i>quí</i><i>ret</i> <b>is</b>ta?&nbsp;* ipse enim novit abs<i>cón</i><i>di</i><i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Quóniam propter te mortificámur <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* æstimáti sumus sicut oves <i>oc</i><i>ci</i><i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Exsúrge, quare ob<i>dór</i><i>mis</i>, <b>Dó</b>mine?&nbsp;* exsúrge, et ne re<i>pél</i><i>las</i> <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulati<i>ó</i><i>nis</i> <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Quóniam humiliáta est in púlvere á<i>ni</i><i>ma</i> <b>nos</b>tra:&nbsp;* conglutinátus est in ter<i>ra</i> <i>ven</i><i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Exsúrge, Dómine, <i>ád</i><i>ju</i><b>va</b> nos:&nbsp;* et rédime nos prop<i>ter</i> <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Glória Pa<i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spi<i>rí</i><i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Sicut erat in princípio, et <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæ<i>cu</i><i>ló</i><i>rum</i>. <b>A</b>men.<br/>
