<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Opus, quod operátus es in diébus e<b>ó</b>rum,&nbsp;* et in di<b>é</b>bus an<b>tí</b>quis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Manus tua gentes dispérdidit, et plantásti <b>e</b>os:&nbsp;* afflixísti pópulos, et expu<b>lís</b>ti <b>e</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Nec enim in gládio suo possedérunt <b>ter</b>ram,&nbsp;* et bráchium eórum non sal<b>vá</b>vit <b>e</b>os:<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Sed déxtera tua, et bráchium tuum, et illuminátio vultus <b>tu</b>i,&nbsp;* quóniam complacu<b>ís</b>ti in <b>e</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tu es ipse Rex meus et Deus <b>me</b>us:&nbsp;* qui mandas sa<b>lú</b>tes <b>Ja</b>cob.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>In te inimícos nostros ventilábimus <b>cor</b>nu:&nbsp;* et in nómine tuo spernémus insur<b>gén</b>tes in <b>no</b>bis.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Non enim in arcu meo spe<b>rá</b>bo:&nbsp;* et gládius meus <b>non</b> sal<b>vá</b>bit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Salvásti enim nos de affligénti<b>bus</b> nos:&nbsp;* et odiéntes nos <b>con</b>fu<b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In Deo laudábimur tota <b>di</b>e:&nbsp;* et in nómine tuo confitébi<b>mur</b> in <b>sǽ</b>culum.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Nunc autem repulísti et confu<b>dís</b>ti nos:&nbsp;* et non egrediéris, Deus, in vir<b>tú</b>tibus <b>nos</b>tris.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Avertísti nos retrórsum post inimícos <b>nos</b>tros:&nbsp;* et qui odérunt nos, diripi<b>é</b>bant <b>si</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>Dedísti nos tamquam oves es<b>cá</b>rum:&nbsp;* et in Géntibus <b>di</b>sper<b>sís</b>ti nos.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Vendidísti pópulum tuum sine <b>pré</b>tio:&nbsp;* et non fuit multitúdo in commutatióni<b>bus</b> e<b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Posuísti nos oppróbrium vicínis <b>nos</b>tris,&nbsp;* subsannatiónem et derísum his, qui sunt in cir<b>cú</b>itu <b>nos</b>tro.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Posuísti nos in similitúdinem <b>Gén</b>tibus:&nbsp;* commotiónem cápi<b>tis</b> in <b>pó</b>pulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Tota die verecúndia mea contra <b>me</b> est,&nbsp;* et confúsio faciéi meæ coo<b>pé</b>ru<b>it</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>A voce exprobrántis, et oblo<b>quén</b>tis:&nbsp;* a fácie inimíci, et <b>per</b>se<b>quén</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Hæc ómnia venérunt super nos, nec oblíti <b>su</b>mus te:&nbsp;* et iníque non égimus in testa<b>mén</b>to <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Et non recéssit retro cor <b>nos</b>trum:&nbsp;* et declinásti sémitas nostras a <b>vi</b>a <b>tu</b>a:<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Quóniam humiliásti nos in loco afflicti<b>ó</b>nis,&nbsp;* et coopéruit nos <b>um</b>bra <b>mor</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Si oblíti sumus nomen Dei <b>nos</b>tri,&nbsp;* et si expándimus manus nostras ad deum <b>a</b>li<b>é</b>num:<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Nonne Deus requíret <b>is</b>ta?&nbsp;* ipse enim novit abs<b>cón</b>dita <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Quóniam propter te mortificámur tota <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<b>ci</b>si<b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Exsúrge, quare obdórmis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne re<b>pél</b>las in <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulatiónis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Quóniam humiliáta est in púlvere ánima <b>nos</b>tra:&nbsp;* conglutinátus est in terra <b>ven</b>ter <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Exsúrge, Dómine, ádju<b>va</b> nos:&nbsp;* et rédime nos propter <b>no</b>men <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spi<b>rí</b>tui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<b>ló</b>rum. <b>A</b>men.<br/>
