<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Opus, quod operátus es in di<b>é</b>bus e<b>ó</b>rum,&nbsp;* et in di<b>é</b>bus an<b>tí</b>quis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Manus tua gentes dispérdidit, et plan<b>tás</b>ti <b>e</b>os:&nbsp;* afflixísti pópulos, et expu<b>lís</b>ti <b>e</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Nec enim in gládio suo posse<b>dé</b>runt <b>ter</b>ram,&nbsp;* et bráchium eórum non sal<b>vá</b>vit <b>e</b>os:<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Sed déxtera tua, et bráchium tuum, et illuminátio <b>vul</b>tus <b>tu</b>i,&nbsp;* quóniam complacu<b>ís</b>ti in <b>e</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tu es ipse Rex meus et <b>De</b>us <b>me</b>us:&nbsp;* qui mandas sa<b>lú</b>tes <b>Ja</b>cob.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>In te inimícos nostros venti<b>lá</b>bimus <b>cor</b>nu:&nbsp;* et in nómine tuo spernémus insur<b>gén</b>tes in <b>no</b>bis.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Non enim in arcu <b>me</b>o spe<b>rá</b>bo:&nbsp;* et gládius meus <b>non</b> sal<b>vá</b>bit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Salvásti enim nos de affli<b>gén</b>ti<b>bus</b> nos:&nbsp;* et odiéntes nos <b>con</b>fu<b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In Deo laudábimur <b>to</b>ta <b>di</b>e:&nbsp;* et in nómine tuo confitébi<b>mur</b> in <b>sǽ</b>culum.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Nunc autem repulísti et <b>con</b>fu<b>dís</b>ti nos:&nbsp;* et non egrediéris, Deus, in vir<b>tú</b>tibus <b>nos</b>tris.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Avertísti nos retrórsum post ini<b>mí</b>cos <b>nos</b>tros:&nbsp;* et qui odérunt nos, diripi<b>é</b>bant <b>si</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>Dedísti nos tamquam <b>o</b>ves es<b>cá</b>rum:&nbsp;* et in Géntibus <b>di</b>sper<b>sís</b>ti nos.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Vendidísti pópulum tuum <b>si</b>ne <b>pré</b>tio:&nbsp;* et non fuit multitúdo in commutatióni<b>bus</b> e<b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Posuísti nos oppróbrium vi<b>cí</b>nis <b>nos</b>tris,&nbsp;* subsannatiónem et derísum his, qui sunt in cir<b>cú</b>itu <b>nos</b>tro.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Posuísti nos in simili<b>tú</b>dinem <b>Gén</b>tibus:&nbsp;* commotiónem cápi<b>tis</b> in <b>pó</b>pulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Tota die verecúndia mea <b>con</b>tra <b>me</b> est,&nbsp;* et confúsio faciéi meæ coo<b>pé</b>ru<b>it</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>A voce exprobrántis, et <b>ob</b>lo<b>quén</b>tis:&nbsp;* a fácie inimíci, et <b>per</b>se<b>quén</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Hæc ómnia venérunt super nos, nec ob<b>lí</b>ti <b>su</b>mus te:&nbsp;* et iníque non égimus in testa<b>mén</b>to <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Et non recéssit <b>re</b>tro cor <b>nos</b>trum:&nbsp;* et declinásti sémitas nostras a <b>vi</b>a <b>tu</b>a:<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Quóniam humiliásti nos in loco af<b>flic</b>ti<b>ó</b>nis,&nbsp;* et coopéruit nos <b>um</b>bra <b>mor</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Si oblíti sumus nomen <b>De</b>i <b>nos</b>tri,&nbsp;* et si expándimus manus nostras ad deum <b>a</b>li<b>é</b>num:<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Nonne Deus re<b>quí</b>ret <b>is</b>ta?&nbsp;* ipse enim novit abs<b>cón</b>dita <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Quóniam propter te mortificámur <b>to</b>ta <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<b>ci</b>si<b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Exsúrge, quare ob<b>dór</b>mis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne re<b>pél</b>las in <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulati<b>ó</b>nis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Quóniam humiliáta est in púlvere <b>á</b>nima <b>nos</b>tra:&nbsp;* conglutinátus est in terra <b>ven</b>ter <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Exsúrge, Dómine, <b>ád</b>ju<b>va</b> nos:&nbsp;* et rédime nos propter <b>no</b>men <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Glória <b>Pa</b>tri, et <b>Fí</b>lio,&nbsp;* et Spi<b>rí</b>tui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Sicut erat in princípio, et <b>nunc</b>, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<b>ló</b>rum. <b>A</b>men.<br/>
