<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Opus, quod operátus es in diébus e<b>ó</b>rum,&nbsp;* et in dié<i>bus</i> <i>an</i><b>tí</b>quis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Manus tua gentes dispérdidit, et plantásti <b>e</b>os:&nbsp;* afflixísti pópulos, et expu<i>lís</i><i>ti</i> <b>e</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Nec enim in gládio suo possedérunt <b>ter</b>ram,&nbsp;* et bráchium eórum non sal<i>vá</i><i>vit</i> <b>e</b>os:<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Sed déxtera tua, et bráchium tuum, et illuminátio vultus <b>tu</b>i,&nbsp;* quóniam complacuís<i>ti</i> <i>in</i> <b>e</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tu es ipse Rex meus et Deus <b>me</b>us:&nbsp;* qui mandas sa<i>lú</i><i>tes</i> <b>Ja</b>cob.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>In te inimícos nostros ventilábimus <b>cor</b>nu:&nbsp;* et in nómine tuo spernémus insurgén<i>tes</i> <i>in</i> <b>no</b>bis.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Non enim in arcu meo spe<b>rá</b>bo:&nbsp;* et gládius meus <i>non</i> <i>sal</i><b>vá</b>bit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Salvásti enim nos de affligénti<b>bus</b> nos:&nbsp;* et odiéntes nos <i>con</i><i>fu</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In Deo laudábimur tota <b>di</b>e:&nbsp;* et in nómine tuo confitébi<i>mur</i> <i>in</i> <b>sǽ</b>culum.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Nunc autem repulísti et confu<b>dís</b>ti nos:&nbsp;* et non egrediéris, Deus, in virtú<i>ti</i><i>bus</i> <b>nos</b>tris.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Avertísti nos retrórsum post inimícos <b>nos</b>tros:&nbsp;* et qui odérunt nos, diripi<i>é</i><i>bant</i> <b>si</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>Dedísti nos tamquam oves es<b>cá</b>rum:&nbsp;* et in Géntibus <i>di</i><i>sper</i><b>sís</b>ti nos.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Vendidísti pópulum tuum sine <b>pré</b>tio:&nbsp;* et non fuit multitúdo in commutatióni<i>bus</i> <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Posuísti nos oppróbrium vicínis <b>nos</b>tris,&nbsp;* subsannatiónem et derísum his, qui sunt in circú<i>i</i><i>tu</i> <b>nos</b>tro.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Posuísti nos in similitúdinem <b>Gén</b>tibus:&nbsp;* commotiónem cápi<i>tis</i> <i>in</i> <b>pó</b>pulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Tota die verecúndia mea contra <b>me</b> est,&nbsp;* et confúsio faciéi meæ coo<i>pé</i><i>ru</i><b>it</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>A voce exprobrántis, et oblo<b>quén</b>tis:&nbsp;* a fácie inimíci, et <i>per</i><i>se</i><b>quén</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Hæc ómnia venérunt super nos, nec oblíti <b>su</b>mus te:&nbsp;* et iníque non égimus in testa<i>mén</i><i>to</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Et non recéssit retro cor <b>nos</b>trum:&nbsp;* et declinásti sémitas nostras a <i>vi</i><i>a</i> <b>tu</b>a:<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Quóniam humiliásti nos in loco afflicti<b>ó</b>nis,&nbsp;* et coopéruit nos <i>um</i><i>bra</i> <b>mor</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Si oblíti sumus nomen Dei <b>nos</b>tri,&nbsp;* et si expándimus manus nostras ad deum <i>a</i><i>li</i><b>é</b>num:<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Nonne Deus requíret <b>is</b>ta?&nbsp;* ipse enim novit abscón<i>di</i><i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Quóniam propter te mortificámur tota <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<i>ci</i><i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Exsúrge, quare obdórmis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repél<i>las</i> <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulatiónis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Quóniam humiliáta est in púlvere ánima <b>nos</b>tra:&nbsp;* conglutinátus est in terra <i>ven</i><i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Exsúrge, Dómine, ádju<b>va</b> nos:&nbsp;* et rédime nos propter <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spirí<i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<i>ló</i><i>rum</i>. <b>A</b>men.<br/>
