<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Opus, quod operátus es in di<i>é</i><i>bus</i> <i>e</i><b>ó</b>rum,&nbsp;* et in diébus <i>an</i><b>tí</b>quis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Manus tua gentes dispérdidit, et <i>plan</i><i>tás</i><i>ti</i> <b>e</b>os:&nbsp;* afflixísti pópulos, et expulís<i>ti</i> <b>e</b>os.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Nec enim in gládio suo pos<i>se</i><i>dé</i><i>runt</i> <b>ter</b>ram,&nbsp;* et bráchium eórum non salvá<i>vit</i> <b>e</b>os:<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Sed déxtera tua, et bráchium tuum, et illumináti<i>o</i> <i>vul</i><i>tus</i> <b>tu</b>i,&nbsp;* quóniam complacuísti <i>in</i> <b>e</b>is.<br/>
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Tu es ipse Rex meus <i>et</i> <i>De</i><i>us</i> <b>me</b>us:&nbsp;* qui mandas salú<i>tes</i> <b>Ja</b>cob.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>In te inimícos nostros venti<i>lá</i><i>bi</i><i>mus</i> <b>cor</b>nu:&nbsp;* et in nómine tuo spernémus insurgéntes <i>in</i> <b>no</b>bis.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Non enim in arcu <i>me</i><i>o</i> <i>spe</i><b>rá</b>bo:&nbsp;* et gládius meus non <i>sal</i><b>vá</b>bit me.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Salvásti enim nos de af<i>fli</i><i>gén</i><i>ti</i><b>bus</b> nos:&nbsp;* et odiéntes nos con<i>fu</i><b>dís</b>ti.<br/>
<span style='float:left;width:25pt;text-align:right;'>10.&nbsp;</span>In Deo laudábi<i>mur</i> <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* et in nómine tuo confitébimur <i>in</i> <b>sǽ</b>culum.<br/>
<span style='float:left;width:25pt;text-align:right;'>11.&nbsp;</span>Nunc autem repulísti <i>et</i> <i>con</i><i>fu</i><b>dís</b>ti nos:&nbsp;* et non egrediéris, Deus, in virtúti<i>bus</i> <b>nos</b>tris.<br/>
<span style='float:left;width:25pt;text-align:right;'>12.&nbsp;</span>Avertísti nos retrórsum post in<i>i</i><i>mí</i><i>cos</i> <b>nos</b>tros:&nbsp;* et qui odérunt nos, diripié<i>bant</i> <b>si</b>bi.<br/>
<span style='float:left;width:25pt;text-align:right;'>13.&nbsp;</span>Dedísti nos tamquam <i>o</i><i>ves</i> <i>es</i><b>cá</b>rum:&nbsp;* et in Géntibus di<i>sper</i><b>sís</b>ti nos.<br/>
<span style='float:left;width:25pt;text-align:right;'>14.&nbsp;</span>Vendidísti pópulum tu<i>um</i> <i>si</i><i>ne</i> <b>pré</b>tio:&nbsp;* et non fuit multitúdo in commutatiónibus <i>e</i><b>ó</b>rum.<br/>
<span style='float:left;width:25pt;text-align:right;'>15.&nbsp;</span>Posuísti nos oppróbrium <i>vi</i><i>cí</i><i>nis</i> <b>nos</b>tris,&nbsp;* subsannatiónem et derísum his, qui sunt in circúi<i>tu</i> <b>nos</b>tro.<br/>
<span style='float:left;width:25pt;text-align:right;'>16.&nbsp;</span>Posuísti nos in simili<i>tú</i><i>di</i><i>nem</i> <b>Gén</b>tibus:&nbsp;* commotiónem cápitis <i>in</i> <b>pó</b>pulis.<br/>
<span style='float:left;width:25pt;text-align:right;'>17.&nbsp;</span>Tota die verecúndia me<i>a</i> <i>con</i><i>tra</i> <b>me</b> est,&nbsp;* et confúsio faciéi meæ coopé<i>ru</i><b>it</b> me.<br/>
<span style='float:left;width:25pt;text-align:right;'>18.&nbsp;</span>A voce exprobrántis, <i>et</i> <i>ob</i><i>lo</i><b>quén</b>tis:&nbsp;* a fácie inimíci, et per<i>se</i><b>quén</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>19.&nbsp;</span>Hæc ómnia venérunt super nos, nec <i>ob</i><i>lí</i><i>ti</i> <b>su</b>mus te:&nbsp;* et iníque non égimus in testamén<i>to</i> <b>tu</b>o.<br/>
<span style='float:left;width:25pt;text-align:right;'>20.&nbsp;</span>Et non recéssit <i>re</i><i>tro</i> <i>cor</i> <b>nos</b>trum:&nbsp;* et declinásti sémitas nostras a vi<i>a</i> <b>tu</b>a:<br/>
<span style='float:left;width:25pt;text-align:right;'>21.&nbsp;</span>Quóniam humiliásti nos in loco <i>af</i><i>flic</i><i>ti</i><b>ó</b>nis,&nbsp;* et coopéruit nos um<i>bra</i> <b>mor</b>tis.<br/>
<span style='float:left;width:25pt;text-align:right;'>22.&nbsp;</span>Si oblíti sumus no<i>men</i> <i>De</i><i>i</i> <b>nos</b>tri,&nbsp;* et si expándimus manus nostras ad deum a<i>li</i><b>é</b>num:<br/>
<span style='float:left;width:25pt;text-align:right;'>23.&nbsp;</span>Nonne Deus <i>re</i><i>quí</i><i>ret</i> <b>is</b>ta?&nbsp;* ipse enim novit abscóndi<i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>24.&nbsp;</span>Quóniam propter te mortificá<i>mur</i> <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* æstimáti sumus sicut oves occi<i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>25.&nbsp;</span>Exsúrge, quare <i>ob</i><i>dór</i><i>mis</i>, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repéllas <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>26.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribula<i>ti</i><i>ó</i><i>nis</i> <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>27.&nbsp;</span>Quóniam humiliáta est in púlvere <i>á</i><i>ni</i><i>ma</i> <b>nos</b>tra:&nbsp;* conglutinátus est in terra ven<i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>28.&nbsp;</span>Exsúrge, Dómi<i>ne</i>, <i>ád</i><i>ju</i><b>va</b> nos:&nbsp;* et rédime nos propter no<i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>29.&nbsp;</span>Glória <i>Pa</i><i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítu<i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>30.&nbsp;</span>Sicut erat in princípio, <i>et</i> <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculó<i>rum</i>. <b>A</b>men.<br/>
