<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus requíret <b>is</b>ta?&nbsp;* ipse enim novit abs<b>cón</b>dita <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificámur tota <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<b>ci</b>si<b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare obdórmis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne re<b>pél</b>las in <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulatiónis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere ánima <b>nos</b>tra:&nbsp;* conglutinátus est in terra <b>ven</b>ter <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómine, ádju<b>va</b> nos:&nbsp;* et rédime nos propter <b>no</b>men <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spi<b>rí</b>tui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<b>ló</b>rum. <b>A</b>men.<br/>
