<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus requí<i>ret</i> <b>is</b>ta?&nbsp;* ipse enim novit abscón<i>di</i><i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificámur to<i>ta</i> <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<i>ci</i><i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare obdór<i>mis</i>, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repél<i>las</i> <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulatió<i>nis</i> <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere áni<i>ma</i> <b>nos</b>tra:&nbsp;* conglutinátus est in terra <i>ven</i><i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómine, ád<i>ju</i><b>va</b> nos:&nbsp;* et rédime nos propter <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória Patri, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirí<i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, et nunc, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæcu<i>ló</i><i>rum</i>. <b>A</b>men.<br/>
