<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus requíret <b>is</b>ta?&nbsp;* ipse enim novit abscóndi<i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificámur tota <b>di</b>e:&nbsp;* æstimáti sumus sicut oves occi<i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare obdórmis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repéllas <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulatiónis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere ánima <b>nos</b>tra:&nbsp;* conglutinátus est in terra ven<i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómine, ádju<b>va</b> nos:&nbsp;* et rédime nos propter no<i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória Patri, et <b>Fí</b>lio,&nbsp;* et Spirítu<i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, et nunc, et <b>sem</b>per,&nbsp;* et in sǽcula sæculó<i>rum</i>. <b>A</b>men.<br/>
