<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus <i>re</i><i>quí</i><i>ret</i> <b>is</b>ta?&nbsp;* ipse enim novit abscóndi<i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificá<i>mur</i> <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* æstimáti sumus sicut oves occi<i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare <i>ob</i><i>dór</i><i>mis</i>, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repéllas <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribula<i>ti</i><i>ó</i><i>nis</i> <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere <i>á</i><i>ni</i><i>ma</i> <b>nos</b>tra:&nbsp;* conglutinátus est in terra ven<i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómi<i>ne</i>, <i>ád</i><i>ju</i><b>va</b> nos:&nbsp;* et rédime nos propter no<i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória <i>Pa</i><i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítu<i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, <i>et</i> <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculó<i>rum</i>. <b>A</b>men.<br/>
