<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus re<i>quí</i><i>ret</i> <b>is</b>ta?&nbsp;* ipse enim novit abscóndita <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificámur <i>to</i><i>ta</i> <b>di</b>e:&nbsp;* æstimáti sumus sicut oves occisi<b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare ob<i>dór</i><i>mis</i>, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repéllas in <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulati<i>ó</i><i>nis</i> <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere á<i>ni</i><i>ma</i> <b>nos</b>tra:&nbsp;* conglutinátus est in terra venter <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómine, <i>ád</i><i>ju</i><b>va</b> nos:&nbsp;* et rédime nos propter nomen <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória Pa<i>tri</i>, <i>et</i> <b>Fí</b>lio,&nbsp;* et Spirítui <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, et <i>nunc</i>, <i>et</i> <b>sem</b>per,&nbsp;* et in sǽcula sæculórum. <b>A</b>men.<br/>
