<span style='float:left;width:25pt;text-align:right;'>2.&nbsp;</span>Nonne Deus re<b>quí</b>ret <b>is</b>ta?&nbsp;* ipse enim novit abscón<i>di</i><i>ta</i> <b>cor</b>dis.<br/>
<span style='float:left;width:25pt;text-align:right;'>3.&nbsp;</span>Quóniam propter te mortificámur <b>to</b>ta <b>di</b>e:&nbsp;* æstimáti sumus sicut oves oc<i>ci</i><i>si</i><b>ó</b>nis.<br/>
<span style='float:left;width:25pt;text-align:right;'>4.&nbsp;</span>Exsúrge, quare ob<b>dór</b>mis, <b>Dó</b>mine?&nbsp;* exsúrge, et ne repél<i>las</i> <i>in</i> <b>fi</b>nem.<br/>
<span style='float:left;width:25pt;text-align:right;'>5.&nbsp;</span>Quare fáciem tuam avértis,* oblivísceris inópiæ nostræ, et tribulati<b>ó</b>nis <b>nos</b>træ?
<span style='float:left;width:25pt;text-align:right;'>6.&nbsp;</span>Quóniam humiliáta est in púlvere <b>á</b>nima <b>nos</b>tra:&nbsp;* conglutinátus est in terra <i>ven</i><i>ter</i> <b>nos</b>ter.<br/>
<span style='float:left;width:25pt;text-align:right;'>7.&nbsp;</span>Exsúrge, Dómine, <b>ád</b>ju<b>va</b> nos:&nbsp;* et rédime nos propter <i>no</i><i>men</i> <b>tu</b>um.<br/>
<span style='float:left;width:25pt;text-align:right;'>8.&nbsp;</span>Glória <b>Pa</b>tri, et <b>Fí</b>lio,&nbsp;* et Spirí<i>tu</i><i>i</i> <b>Sanc</b>to.<br/>
<span style='float:left;width:25pt;text-align:right;'>9.&nbsp;</span>Sicut erat in princípio, et <b>nunc</b>, et <b>sem</b>per,&nbsp;* et in sǽcula sæcu<i>ló</i><i>rum</i>. <b>A</b>men.<br/>
